.PingCAP-BlogHeader {
  .blog-title {
    &-in-body-content {
      font-size: $H0;
    }

    @include mobile {
      font-size: $size-5;
    }

    margin-top: 2rem;
    color: $F1;
  }

  .blog-link-title {
    @extend .blog-title;

    a {
      color: $F1;

      &:hover {
        color: $B3;
      }
    }
  }

  .blog-subtitle {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    color: $B4;

    span {
      margin-right: 2rem;
      margin-bottom: 0.25rem;

      &:last-child {
        margin-top: 0.25rem;
        margin-right: 0;
      }

      &.without-icon {
        margin-top: 0;
      }

      svg {
        margin-right: 0.25rem;
        vertical-align: bottom;
      }

      a {
        color: $B4;
        text-decoration: underline;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
