.PingCAP-BlogHeader {
  .blog-title {
    margin-top: 2rem;
    color: $B3;
  }

  .blog-subtitle {
    margin-bottom: 1.5rem;
    color: $B4;

    span {
      margin: 0 1rem;

      &:first-child {
        margin-left: 0;
      }

      svg {
        vertical-align: bottom;
      }

      a {
        color: $B4;
        text-decoration: underline;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
