.PingCAP-BlogHeader {
  .blog-title {
    margin-top: 2rem;
    color: $B3;
  }

  .blog-link-title {
    @extend .blog-title;

    display: inline-block;
  }

  .blog-subtitle {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    color: $B4;

    span {
      margin-right: 2rem;

      &:last-child {
        margin-top: 0.25rem;
        margin-right: 0;
      }

      svg {
        margin-right: 0.25rem;
        vertical-align: bottom;
      }

      a {
        color: $B4;
        text-decoration: underline;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
