.PingCAP-BlogTags {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $C2;

  > a {
    margin: 1rem 1rem 0 0;
    padding: 0.25rem 0.5rem;
    height: auto;
    color: $B4;
    background: $B5;
    font-size: $size-7;
    border: none;

    &:hover {
      color: #fff;
      background: $primary;
    }
  }
}
