@import '../common';

.PingCAP-Event-Card {
  &.columns {
    justify-content: center;

    .column {
      margin: 2rem 0;

      .card {
        height: 100%;

        &:hover {
          box-shadow: $shadow-hover;
        }

        figure > img{
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
      }
    }
  }
}
