.PingCAP-Footer {
  @include mobile {
    padding-bottom: 2rem;
  }

  background: $B5;
  padding-bottom: 4rem;

  .column {
    .title {
      @include mobile {
        margin-bottom: 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid $C2;
      }

      margin-bottom: 2rem;
      color: $B3;
      outline: none;

      span.spread {
        @include mobile {
          display: flex;
        }

        display: none;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        color: $primary;
        float: right;
        transform-origin: center;
        transition: transform 0.25s;

        &.clicked {
          transform: rotate(45deg);
        }
      }
    }

    .items {
      @include mobile {
        display: none;

        &.displayed {
          display: unset;
        }
      }

      li {
        margin: 1rem 0;

        a {
          @include has-item-active;

          display: inline-block;

          &:hover {
            &:after {
              content: none;
            }
          }
        }
      }
    }
  }

  .column.with-socials {
    position: relative;
  }

  .footer-logo {
    @include mobile {
      display: none;
    }

    float: right;
    width: 150px;
  }

  .socials-desktop {
    @include mobile {
      display: none;
    }

    position: absolute;
    top: calc(120px - 0.5rem);
    right: 1.5rem;
    width: 150px;

    @each $social in $socials {
      .#{$social} {
        @include social($social);

        width: 36px;
        height: 36px;
        margin: 0 1.3rem 1rem 0;
        cursor: pointer;
      }
    }

    .linkedin,
    .yc {
      margin-right: 0;
    }
  }

  .annotations {
    @include mobile {
      display: block;
      margin-top: 0;
      margin-bottom: 2rem;

      .lang {
        margin-bottom: 0.5rem;
      }
    }

    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    color: $B4;

    .lang {
      cursor: pointer;

      svg {
        vertical-align: bottom;
      }
    }
  }

  .socials-mobile {
    @include mobile {
      display: flex;
    }

    display: none;

    @each $social in $socials {
      .#{$social} {
        @include social($social);

        width: 36px;
        height: 36px;
        margin-right: 1.3rem;
        cursor: pointer;
      }
    }

    .yc {
      margin-right: 0;
    }
  }
}
