.PingCAP-Footer {
  background: $B5;
  padding-bottom: 3rem;

  @include mobile {
    padding: 0 1rem 1.5rem;
  }

  .column {
    @include mobile {
      padding: 0;
    }

    .title {
      @include mobile {
        margin-bottom: 0 !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $M3;
        font-size: $size-7;
        font-weight: 700;
        border-bottom: 1px solid $C2;
        line-height: 1rem !important;
      }

      margin-bottom: 2rem;
      outline: none;

      span.spread {
        @include mobile {
          display: flex;
        }

        display: none;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        color: $primary;
        float: right;
        transform-origin: center;
        transition: transform 0.25s;

        &.clicked {
          transform: rotate(45deg);
        }
      }
    }

    .subcolumn:not(:first-child) .title {
      margin-bottom: 1rem;
      line-height: 1.5;
    }

    .items {
      @include mobile {
        display: none;

        &.displayed {
          display: unset;

          @include mobile {
            display: block;
            border-bottom: 1px solid $C2;
          }
        }
      }

      li {
        margin: 1rem 0;

        @include mobile {
          margin: 0;
          padding: 1rem 0;
          line-height: 1rem;
        }

        a {
          @include has-item-active;
          @include mobile {
            width: 100%;
          }

          display: inline-block;

          &:active {
            background: #e9ecef;
          }
        }
      }
    }
  }

  .column.with-socials {
    position: relative;
  }

  .footer-logo {
    @include mobile {
      display: none;
    }

    float: right;
    width: 150px;
  }

  .socials-desktop,
  .socials-mobile {
    a {
      font-size: 0;
    }
  }

  .socials-desktop {
    @include mobile {
      display: none;
    }

    position: absolute;
    top: 1.75rem;
    right: 1.5rem;
    width: 150px;

    @each $social in $socials {
      .#{$social} {
        width: 36px;
        height: 36px;
        margin: 0 1.3rem 1rem 0;
      }
    }

    .facebook,
    .youtube {
      margin-right: 0;
    }
  }

  .annotations {
    color: $B4;

    .lang {
      cursor: pointer;

      svg {
        vertical-align: bottom;
      }
    }
  }

  .annotations-desktop {
    @include mobile {
      display: none;
    }

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    bottom: 1.75rem;
    right: 0.75rem;

    .lang {
      margin-bottom: 0.5rem;

      .dropdown-trigger {
        &:focus {
          outline: 0;
        }
      }
    }
  }

  .annotations-mobile {
    @include mobile {
      display: block;
      margin-top: 1.5rem;
      text-align: center;

      .lang {
        margin-bottom: 1rem;
      }
    }

    display: none;

    .lang {
      cursor: pointer;

      svg {
        vertical-align: bottom;
      }
    }
  }

  .socials-mobile {
    @include mobile {
      display: flex;
      justify-content: space-between;
    }

    display: none;
  }

  .columns {
    @include mobile {
      margin: 0 0 1.5rem;
    }
  }
}
