@import '../common';

.GetStartedWithTiDBCloud {
  background: url(../../../images/products/tidbcloud/get-tidb-cloud-ribbon.svg)
    center no-repeat;
  background-size: cover;
  padding: 5.5rem 1.5rem;

  @include mobile {
    padding: 1.5rem;
    background: url(../../../images/products/tidbcloud/get-tidb-cloud-ribbon-mobile.svg)
    center no-repeat;

  }

  .columns {
    position: relative;
    margin: 0 auto;

    @include mobile {
      text-align: center;
    }
  }

  .main-desc {
    padding-left: 8rem;
    text-align: left;
    color: $M1;
    font-size: $H2;
    font-weight: $W2-EN;

    @include mobile {
      text-align: center;
      padding: 1rem 2rem;
    }
  }
  .desc {
    padding-left: 10rem;
    text-align: left;
    color: $M1;
    font-size: $H3;

    @include mobile  {
      text-align: center;
      padding-left: 0;
    }
  }

  .Button {
    position: absolute;
    right: 4rem;
    bottom: 1rem;
    padding: 0 2rem;
    height: 50px;
    border-radius: 30px;

    @include mobile {
      position: relative;
      margin-top: 2rem;
      right: auto;
      bottom: auto;
    }
  }
}
