.PingCAP-Navbar {
  @include mobile {
    height: 4.25rem;
  }

  height: 5.25rem;

  &.has-border-and-shadow {
    border-bottom: 1px solid $C2;
    box-shadow: 0 2px 8px rgba(#000, 0.05);
  }

  .has-dropdown {
    align-items: center;

    > .navbar-dropdown {
      background-color: $B5;
      border-radius: 4px;
      border-top: none;
      box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
      font-size: $size-7;
      top: 80%;

      > .navbar-item {
        color: $B4;

        &:hover {
          color: $B1;
        }
      }

      .hide-burger {
        display: none;
      }

      @include mobile {
        display: none;

        &.toggle-drop {
          display: block;
          background: none;
          box-shadow: none;
        }
      }
    }
  }

  a.navbar-item:hover {
    background-color: transparent;
  }

  .navbar-item {
    &.with-brand {
      padding-left: 1.5rem;
    }

    &.with-main-section {
      @include has-item-active(1.5rem);
      @include mobile {
        margin: 0 1.5rem;
        padding: 1rem 0;
        font-size: $size-6;
        border-bottom: 1px solid $C2;

        &:last-child {
          border: none;
        }

        &:hover {
          &:after {
            content: none;
          }
        }
      }

      margin: 0 0.25rem;

      &:active {
        background: #e9ecef;
      }
    }

    &.with-github-section {
      .github-icon {
        width: 30px;
        height: 30px;
        background-size: contain;

        background-image: url('../../../images/github-icon-on-nav.svg');

        &:hover {
          background-image: url('../../../images/github-icon-on-nav-hl.svg');
        }
      }

      @include mobile {
        margin: 0 0.75rem;
      }
    }

    &.with-get-tidb {
      @include mobile {
        margin: 0 0.75rem;
      }
    }
  }

  .navbar-brand {
    @include mobile {
      width: 120px;
    }
    @include until($fullhd) {
      margin-right: 1.5rem;
    }

    width: 150px;
    margin-right: 5rem;
    user-select: none;

    .navbar-burger {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      background: none;
      color: $B1;
      border: none;
      outline: none;
      -webkit-tap-highlight-color: transparent;

      span {
        width: $size-5;
      }
    }
  }

  .get-tidb {
    @include mobile {
      width: 100%;
      font-size: $size-6;
      border-radius: 5px;
    }

    width: 155px;
    font-size: $size-7;
  }
}
