.PingCAP-Navbar {
  .navbar-item {
    &.with-brand {
      padding-left: 1.5rem;
    }

    &.with-main-section {
      @include has-item-active;
    }
  }

  .navbar-brand {
    width: 150px;
    margin-right: 5rem;

    .navbar-burger {
      position: absolute;
      top: 0.5rem;
      right: 0;
      background: none;
      color: $B1;
      border: none;

      span {
        width: $size-6;
      }
    }
  }

  .free-download {
    font-size: $size-7;
    border-radius: 25px;
  }
}
