.PingCAP-Navbar {
  display: block;

  .promotion {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    background-color: $B3;
    color: $M1;

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include mobile {
        padding: 0 1rem;
        font-size: $size-8;
        position: relative;
      }

      .horn {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 1.25rem;
        background: url(../../../images/horn.svg);
        background-size: contain;

        @include mobile {
          margin-right: 0.5rem;
        }
      }

      .blank {
        flex-grow: 1;
      }

      .close {
        width: 0.75rem;
        height: 0.75rem;
        background: url(../../../images/cross.svg);
        background-size: contain;
        cursor: pointer;

        @include mobile {
          position: absolute;
          right: 1.5rem;
          top: 1rem;
        }
      }

      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
  
  & > .container {
    @include mobile {
      height: 4.25rem;
    }

    height: 5.25rem;
  }

  &.has-border-and-shadow {
    border-bottom: 1px solid $C2;
    box-shadow: 0 2px 8px rgba(#000, 0.05);
  }

  .has-dropdown {
    align-items: center;

    .dropdown-title {
      svg {
        display: none;
        transition: transform 0.25s;
        fill: $B1;
        
        @include mobile {
          display: unset;
        }
      }

      &.toggle-drop {
        svg {
          transform: rotate(45deg);
        }
      }

      @include mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    > .navbar-dropdown {
      background-color: $B5;
      border-radius: 4px;
      border-top: none;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
      font-size: $size-7;
      top: 80%;

      > .navbar-item {
        color: $B4;

        &:hover {
          color: $B1;
        }

        @include mobile {
          color: $B4;
          font-weight: 400;
          line-height: 1rem;
          padding: 1rem 0;
        }
      }

      .hide-burger {
        display: none;
      }

      @include mobile {
        padding: 0;
        margin: 1rem 0 -1rem;
        border-top: 1px solid #dbe4f0;
        display: none;

        &.toggle-drop {
          display: block;
          background: none;
          box-shadow: none;
        }
      }
    }
  }

  a.navbar-item:focus {
    background-color: transparent;
  }

  a.navbar-item:hover {
    background-color: transparent;
  }

  .navbar-item {
    &.with-brand {
      padding-left: 1.5rem;
    }

    &.with-main-section {
      @include has-item-active(1.5rem);
      @include mobile {
        margin: 0 1.5rem;
        padding: 1rem 0;
        font-size: $size-7;
        border-bottom: 1px solid $C2;
        line-height: 1rem;
        font-weight: 700;
        color: $M3;

        &:last-child {
          border: none;
        }

        &:hover {
          &:after {
            content: none;
          }
        }
      }

      margin: 0 0.25rem;
    }

    &.with-get-tidb {
      padding: 0.5rem 0.75rem;

      @include mobile {
        margin: 0 0.75rem;
      }
    }

    &.with-github-section {
      .github-icon {
        width: 16px;
        height: 16px;
        background-size: contain;

        background-image: url('../../../images/github-icon-on-nav.svg');

        &:hover {
          background-image: url('../../../images/github-icon-on-nav-hl.svg');
        }
      }

      @include mobile {
        display: none;
      }
    }
  }

  .navbar-brand {
    @include mobile {
      width: 120px;
    }
    @include until($fullhd) {
      margin-right: 1.5rem;
    }

    width: 130px;
    margin-right: 5rem;
    user-select: none;

    .navbar-burger {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      background: none;
      color: $B1;
      border: none;
      outline: none;
      -webkit-tap-highlight-color: transparent;

      span {
        width: $size-5;
      }
    }
  }

  .get-tidb {
    @include mobile {
      width: 100%;
      font-size: $size-6;
      border-radius: 5px;
      height: 3rem;
    }

    width: 9.375rem;
    height: 2.5rem;
    font-size: $size-7;
  }

  .navbar-menu {
    @include mobile {
      background-color: $B5;
      padding: 0 0 1rem;
    }
  }

  .navbar-end {
    @include mobile {
      margin-top: 1rem;
    }
  }

  .is-outlined {
    @include mobile {
      background-color: $M1 !important;
    }
  }

  .github-icon-mobile {
    display: none;

    width: 1.25rem;
    height: 1.25rem;
    background-size: contain;
    position: absolute;
    right: 3.625rem;
    top: 1.375rem;

    background-image: url('../../../images/github-icon-on-nav-hl.svg');

    @include mobile {
      display: block;
    }
  }
}
