.PingCAP-Pagination {
  margin-top: 1.5rem;

  a.pagination-link {
    padding: 0 0.25rem;
    min-width: unset;
    color: $M4;
    font-weight: bold;
    border: none;

    &.is-current {
      background: none;
      color: $primary;
    }
  }
}
