@import '../common';

.PingCAP-Cookie-Consent {

    max-width: 1344px;
  .CookieConsent {
    display: block !important;
    text-align: center;

    .decline-button {
      background-color: $M1 !important;
      color: $M4 !important;
    }
  }
}
