@import '../common';

.PingCAP-Positions {
  .position {
    padding-left: 2rem;

    .position-wrapper {
      position: relative;
      padding-top: 1rem;

      .position-title {
        font-size: $size-5;
        font-weight: bold;
        color: $B3;
      }

      .location {
        padding: 1rem 0;
        font-size: $size-7;
        color: $B3;
      }

      &:before {
        position: absolute;
        content: '';
        left: -1rem;
        border-left: 1px solid $C2;
        height: 100%;
      }
    }

    &:hover {
      .position-wrapper {
        .position-title {
          color: $B1;
        }
        &:before {
          border-left: 3px solid $B1;
        }
      }
    }
  }
}
