.PingCAP-PostFromUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $C2;

  &.in-home {
    padding-left: 0;
    padding-right: 0;

    img {
      @include mobile {
        width: 250px;
        margin-right: 0;
      }
      margin-right: 2rem;
    }
  }

  &.is-borderless {
    border: none;
  }

  &.is-horizontal {
    flex-direction: row;
    justify-content: space-between;
  }

  .poster-wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    width: 40%;

    @include mobile {
      width: 100%;
      justify-content: center;
    }
  }
}
