.PingCAP-PostFromUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $C2;

  .title {
    color: $B3;
  }

  .field.has-addons {
    .control {
      input {
        background: $B5;
        border-color: $C2;
        box-shadow: none;

        &:hover,
        &:focus {
          border-color: $primary;
        }
      }
    }
  }
}
