@import '../common';

.PingCAP-Use-Cases {
  &.section-use-cases {
    .oltp-and-htap {
      .oltp,
      .htap {
        @include VHCenter;
        @include mobile {
          height: 450px;
        }

        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 0.2em 1em #bababa;
        transition: 0.5s;

        &:hover {
          box-shadow: 0 0.2em 1.5em #b5b5b5;
        }
      }

      .oltp {
        @include mobile {
          background-image: url(../../../images/home/use-cases/oltp-mobile.svg);
        }

        background-image: url(../../../images/home/use-cases/oltp-desktop.svg);
      }

      .htap {
        @include mobile {
          background-image: url(../../../images/home/use-cases/htap-mobile.svg);
        }

        background-image: url(../../../images/home/use-cases/htap-desktop.svg);
      }

      .inner {
        &,
        .title,
        .subtitle,
        a {
          color: #fff;
        }

        .title.is-3 {
          font-weight: bold;
        }

        .title.is-4 {
          margin-bottom: 1rem;
        }

        .strikethrough-white {
          margin-bottom: 1.5rem;
        }

        .subtitle {
          margin-bottom: 1rem;
        }

        ul {
          list-style: inside;
          margin-bottom: 1.5rem;
          font-size: $size-6;

          li {
            margin-bottom: 1rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}
