@import '../common';

.PingCAP-Use-Cases {
  &.section-use-cases {
    .oltp-and-htap {
      .oltp,
      .htap {
        @include VHCenter;
        @include mobile {
          height: 450px;
        }

        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.5s;
      }

      .oltp {
        background-image: url(../../../images/home/use-cases/oltp-desktop.svg);
      }

      .htap {
        background-image: url(../../../images/home/use-cases/htap-desktop.svg);
      }

      .inner {
        &,
        .title,
        .subtitle,
        a {
          color: #fff;
        }

        .title.is-3 {
          font-weight: bold;
        }

        .title.is-4 {
          margin-bottom: 1rem;
        }

        .strikethrough-white {
          margin-bottom: 1.5rem;
        }

        .subtitle {
          margin-bottom: 1rem;
        }

        ul {
          list-style: inside;
          margin-bottom: 1.5rem;
          font-size: $size-6;

          li {
            margin-bottom: 1rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}
