@import '../common';

.PingCAP-Start-TiDB-ribbon {
  &.section-get-started {
    background: url(../../../images/home/get-started-with-tidb-banner.svg)
      center no-repeat;
    background-size: cover;

    .container {
      @include mobile {
        flex-direction: column;

        .title {
          margin-bottom: 1.5rem !important;
          text-align: center;
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        margin: 0;
      }

      .buttons {
        display: flex;
        justify-content: center;

        a {
          font-size: $size-6;

          @include mobile {
            &:first-child {
              margin: 0 1rem 0.5rem !important;
            }
          }

          &:first-child {
            margin-right: 2.5rem;
          }

          &.contact-us,
          &.get-tidb {
            &:hover {
              background: $primary;
              color: #fff;
              border-color: $primary;
            }
          }

          &.get-tidb {
            width: 160px;
            background: #fff;
            color: $B3;
            border-color: #fff;
          }
        }
      }
    }
  }
}
