@import '../common';

.PingCAP-Start-TiDB-ribbon {
  &.section-get-started {
    background: url(../../../images/home/get-started-with-tidb-banner.svg)
      center no-repeat;
    background-size: cover;
    padding: 2.5rem 1.5rem;

    @include mobile {
      background: url(../../../images/home/get-started-with-tidb-banner-mobile.svg)
      center no-repeat;
    }

    .container {
      @include mobile {
        flex-direction: column;

        .title {
          margin-bottom: 2rem !important;
          text-align: center;
        }
      }

      display: flex;
      align-items: center;

      .column-placeholder {
        width: 8.33%;
      }

      .column-grow {
        flex-grow: 1;
      }

      .title {
        margin: 0;
      }

      .buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 0;

        a {
          font-size: $size-6;

          &:first-child {
            margin-right: 4rem;

            @include mobile {
              margin-right: 2rem;
            }
          }

          &.contact-us,
          &.get-tidb {
            font-size: $size-7;
            letter-spacing: 1px;
            padding: 0 2rem;
            height: 3rem;
            min-width: 11rem;
            margin-bottom: 0;

            @include mobile {
              min-width: 8.75rem;
              padding: 0;
            }

            &:hover {
              background: $primary;
              color: #fff;
              border-color: $primary;
            }
          }

          &.get-tidb {
            width: 160px;
            background: #fff;
            color: $B3;
            border-color: #fff;

            @include mobile {
              width: unset;
            }
          }
        }
      }
    }
  }
}
