@import '../common';

.PingCAP-TrackGABtns {
  .trackable-btns {
    text-align: center;

    a {
      @include mobile {
        padding: 0 1rem;
        border-radius: 5px;
      }

      padding: 0 2rem;
      margin: 1rem;
      color: $primary;
      font-size: $size-6;
      border-color: $primary;

      &:hover {
        color: #fff;
        background: $primary;
        text-decoration: none;
      }
    }
  }
}
