@import '../../common';

.PingCAP-Download-TiDB-Community,
.PingCAP-Download-TiDB-Enterprise {
  .enterprise-wrapper {
    padding: 2rem;
    max-width: 500px;
    margin: 0 auto;
  }

  .tidb-logo {
    text-align: left;
    width: 20%;
    margin: 0.5rem 0;
  }

  .card {
    padding: 2rem 3rem;
    text-align: center;
    width: 100%;

    @include mobile {
      box-shadow: none;
      border: none;
      background: transparent;
      padding: 2rem 1rem;
    }

    .header {
      text-align: center;
      margin-bottom: 2rem;
      .rocket-icon {
        margin: 0 auto;
        width: 40px;
        height: auto;

        img {
          width: 100%;
          height: 100%;
        }
      }

      h1 {
        font-size: $size-5;
        color: $B3;
        font-weight: bold;
      }
    }

    .title-field {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      font-size: $size-7;
      font-weight: bold;
      color: $B3;

      .linux-icon {
        height: 30px;
        margin-left: 1rem;
      }

      .check-icon {
        width: 20px;
        height: 20px;
        margin-right: 1rem;
      }
    }

    .form-wrapper {
      min-height: 300px;
    }

    .form-control {
      position: relative;
      width: 100%;
      margin-bottom: 2rem;
      text-align: left;

      &:after {
        content: '*';
        position: absolute;
        right: -1rem;
        top: 50%;
        transform: translateY(-50%);
        color: red;
      }
    }

    .pkg-desc {
      margin-bottom: 3rem;
      margin-top: -1rem;
      text-align: left;
      font-size: $size-8;
      color: $B4;
    }

    button {
      margin: 2rem 0;

      a {
        color: $M1;
      }
    }

    .err-msg {
      font-size: $size-8;
      color: $T3;
    }
  }
}
