@import '../../common';

.PingCAP-Download-TiDB {
  @mixin title {
    font-size: $H1;
    font-weight: 700;
    color: $M3;
  }

  @mixin desc-text {
    font-size: $P1;
    font-weight: 400;
    color: $M3;
  }

  @mixin flex-container-gap($direction, $gap) {
    @if $direction == 'row' {
      margin-left: -1 * $gap / 2;
      margin-right: -1 * $gap / 2;
    } @else if $direction == 'column' {
      margin-top: -1 * $gap / 2;
      margin-bottom: -1 * $gap / 2;
    }
  }

  @mixin flex-item-gap($direction, $gap) {
    @if $direction == 'row' {
      margin-left: 1 * $gap / 2;
      margin-right: 1 * $gap / 2;
    } @else if $direction == 'column' {
      margin-top: 1 * $gap / 2;
      margin-bottom: 1 * $gap / 2;
    }
  }

  .slogan-section {
    @include mobile {
      padding-bottom: 2rem;
    }
  }

  .slogan {
    @include title;
    text-align: center;
  }

  .content-wrapper {
    width: 66%;
    margin: 0 auto;

    @include mobile {
      width: auto;
    }
  }

  .download-menu-section {
    @include mobile {
      padding-top: 0;
    }
  }

  .catalogue-wrapper {
    $direction: 'column';
    $gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    @include tablet {
      &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: $B3;
    }
    }

    @include mobile {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @include flex-item-gap($direction, $gap);
      margin-bottom: 2.5rem;
    }

    .catalogue-item {
      height: 3rem;
      display: flex;
      padding: 0 1.5rem;
      align-items: center;
      background: $B5;
      font-size: $P1;
      font-weight: 700;
      color: $B3;
      cursor: pointer;

      &:hover {
        box-shadow: 0 1px 0 0 inset $B3, 1px 0 0 0 inset $B3, -1px 0 0 0 inset $B3;
      }

      @include mobile {
        &:hover {
          box-shadow: 0 0 0 1px inset $B3;
        }
      }


      @include mobile {
        @include flex-item-gap($direction, $gap);
      }
    }

    .catalogue-item--selected {
      background: $B3;
      color: white;
    }
  }

  .desc-section {
    line-height: 1.75rem;
  }

  .intro-text {
    font-size: $P1;
    font-weight: 400;
    color: $M3;
    margin-bottom: 2rem;
  }

  .deployment-wrapper {
    $direction: 'row';
    $gap: 2rem;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
    @include flex-container-gap($direction, $gap);

    @include mobile {
      justify-content: space-between;
      @include flex-container-gap($direction, 0);
    }

    .deployment-item {
      @include flex-item-gap($direction, $gap);
      width: 12.5%;
      display: flex;
      justify-content: center;
      align-items: center;
      // background: $B5;
      box-shadow: 0 1px 6px rgba(0,0,0,0.08);
      cursor: pointer;

      &:hover {
        outline: 1px solid $B3;
      }

      img {
        height: 4.375rem;

        @include mobile {
          height: 3.125rem;
        }
      }

      @include mobile {
        width: 20%;
        @include flex-container-gap($direction, 0);
      }
    }

    .kubernetes-item {
      width: 14.8%;

      @include mobile {
        width: 24%;
      }
    }

    .deployment-item--selected {
      outline: 1px solid $B3;
    }
  }

  .desc-title {
    font-size: $H3;
    font-weight: 700;
    color: $M3;
  }

  .enterprise-desc-title {
    margin-bottom: 1.5rem;
  }

  .desc-title-wrapper {
    display: flex;

    @include mobile {
      flex-direction: column;
      margin-bottom: 2rem;
    }

    .desc-title {
      margin-right: 2rem;
    }

    .link-to-full-doc {
      font-size: $P2;
      font-weight: 400;
      color: $B1;
    }
  }

  .desc-paragraph {
    margin-bottom: 1rem;
  }

  .tidb-desc {
    margin-bottom: 2rem;
  }

  .gatsby-highlight {
    background: #f6f8fa;
  }

  .enterprise-section,
  .tidb-cloud-section {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 75%;
      margin: 0 auto;
    }
  }

  ol {
    margin-left: 0;
    padding-left: 0;

    li {
      margin-left: 1em;
      margin-bottom: 2rem;
      font-size: $P1;
      font-weight: 700;
      color: $M3;

      pre {
        background: #f6f8fa;
      }

      code {
        @include desc-text;
      }
    }
  }

  ul {
    list-style: disc;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 2rem;

    .desc-li-text {
      @include desc-text;
    }

    li {
      margin-left: 1em;
    }
  }

  .step-title {
    display: inline;
    font-size: $P1;
    font-weight: 700;
    color: $M3;
  }

  .tidb-cloud-full-edition-text {
    font-size: $P1;
    font-weight: 400;
    color: $B1;
    text-align: left;
  }

  .tidb-cloud-trial-btn {
    margin-bottom: 1.25rem;
  }
}
