@import '../../common';



.PingCAP-About-ZH {

  $icons: office-equipment gym team-building snacks TGIF flexible;
  $is-12: 80vw;
  $fixed-is-12: 84.06rem;

  @mixin paragraph {
    font-size: $P1;
    font-weight: 400;
    color: $M3;
  }

  @mixin subtitle {
    @include section-title;
    font-size: $H1;
    font-weight: 500;
    color: $B3;
    margin-bottom: 4rem;
  }

  @mixin custom-column-section($columns: 12) {
    $size: ((12 - $columns) / 2) * $is-12 / 12;
    padding-left: $size;
    padding-right: $size;
  }

  @function column-to-width($columns: 12) {
    @return $columns * $is-12 / 12;
  }

  @function rem-to-vw($rem) {
    @return $rem * $is-12 / $fixed-is-12;
  }
  
  @mixin positioned-el(
    $width,
    $x-direction,
    $y-direction,
    $x-offset,
    $y-offset,
    $color
  ) {
    width: $width;
    height: $width;
    position: absolute;
    @if $x-direction == left {
      left: $x-offset;
    } @else if $x-direction == right {
      right: $x-offset;
    }
    @if $y-direction == top {
      top: $y-offset;
    } @else if $y-direction == bottom {
      bottom: $y-offset;
    }
    background: $color;
  }
  
  @mixin shaking-el($x-start, $x-end, $y-start, $y-end, $duration) {
    --x-start: #{$x-start};
    --x-end: #{$x-end};
    --y-start: #{$y-start};
    --y-end: #{$y-end};
    animation: shaking $duration infinite alternate;
  }
  
  @mixin scaling-el($scale-start, $scale-end, $duration) {
    --scale-start: #{$scale-start};
    --scale-end: #{$scale-end};
    animation: scaling $duration infinite alternate;
  }
  
  @keyframes shaking {
    from {
      transform: translate(var(--x-start), var(--y-start));
    }
    to {
      transform: translate(var(--x-end), var(--y-end));
    }
  }
  
  @keyframes scaling {
    from {
      transform: scale(var(--scale-start));
    }
    to {
      transform: scale(var(--scale-end));
    }
  }

  @each $icon in $icons {
    .#{$icon} {
      background: url(../../../../images/zh/about/#{$icon}.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 3.75rem;
      height: 3.75rem;
    }
  }
  .hero {
    background-color: $B3;
    height: 25vw;

    .hero-body {
      padding: 4rem 1rem;
    }

    img {
      width: 35vw;
    }
  }
  >.section {
    width: $is-12;
    padding: 6rem 0 0;
    margin: 0 auto;
  }
  .intro-section {
    @include custom-column-section(10);
    .container {
      .title {
        @include subtitle; 
        color: $M3;
      }
      .paragraph {
        @include paragraph;
        margin-bottom: 5rem;
        color: $M4;
  
      }
      .center-button {
        display: block;
        width: 10rem;
        margin: 0 auto 6rem;
      }
    }
    
  }

  .timeline-section {
    @include has-light-background;
    width: 100%;
    .container {
      margin: 0;
      max-width: none;
      padding-bottom: 6rem;
    }
    .title {
      @include subtitle;
    }
    img {
      width: column-to-width(10);
      display: block;
      margin: 0 auto;
    }
  }

  .intro-video-section {
    position: relative;
    width: 100%;
    height: rem-to-vw(49.69rem);
    .particles {
      height: 100%;
    }
    .intro-video {
      width: column-to-width(10);
      position: absolute;
      top: rem-to-vw(6rem);
      bottom: 6rem(6rem);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .working-env-section {
    @include has-light-background;
    @include custom-column-section(10);
    width: 100%;
    padding-bottom: 3rem;
    .container {
      .title {
        @include subtitle;
      }
      .paragraph {
        @include paragraph;
        color: $M4;
        margin-bottom: 5rem;
      }
      .env-desc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 3rem;
        h3 {
          font-size: $P1;
          font-weight: 400;
          color: $M3;
          margin: 1rem 0 1.5rem;
        }
        p {
          font-size: $P1;
          font-weight: 300;
          color: $M4;
        }
      }
    }
  }

  .contact-us-section {
    @include custom-column-section(8);
    padding-bottom: 7rem;
    .title {
      @include subtitle;
    }
    .left-column {
      position: relative;
    }
    .left-column::after {
      @media screen and (max-width: 90rem) {
        display: none;
      }
      display: block;
      content: '';
      width: 20rem;
      height: 1px;
      background: #e5ebf3;
      transform-origin: left;
      transform: rotate(90deg);
      position: absolute;
      top: rem-to-vw(2.1875rem);
      left: rem-to-vw(38.5rem);
    }
    .address-title,.contact-title {
      font-size: $P1;
      font-weight: 400;
      color: $M3;
    }
    .address{
      font-size: $P1;
      font-weight: 400;
      color: $M3;
    }
    .office-info {
      margin-bottom: 1.5rem;
    }
    .contact-info {
      margin-bottom: 2.25rem;
      .contact {
        font-size: $P1;
        font-weight: 300;
        color: $M4;
      }
    }
    .consult-link {
      font-size: $P1;
      font-weight: 300;
      color: $B1;
    }
  }

  .map-section {
    .container {
      position: relative;
    }
    .map-office {
      position: absolute;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #3351ff;
      &:hover button {
        transform: scale(1.2);
        box-shadow: 1px 1px 10px #bfbfbf;
      }
      .line {
        transform-origin: left;
        position: absolute;
        top: 6px;
        left: 6px;
        height:2px;
        background: #35f;
        &:hover + button {
          transform: scale(1.2);
          box-shadow: 1px 1px 10px #bfbfbf;
        }
      }
      button {
        width: 5.5rem;
        position: absolute;
        background: #35f;
        border: none;
        color: #fff;
        padding: 10px 10px;
        border-radius: 4px;
        transition: transform 0.2s ease-in-out;
        font-size: 0.8125rem;
      }
    }
    .map-office[data-name='北京office'] {
      background: #E30C34;
      .line {
        border: 1px solid #E30C34;
      }
      button {
        background: #E30C34;
      }
    }
  }

  .join-section {
    position: relative;
    text-align: center;
    height: 24.63rem;
    padding-bottom: 8rem;
    .el1 {
      @include positioned-el(1rem, left, top, 10%, 2rem, #3351ff);
      @include shaking-el(20px, 30px, 20px, 10px, 3s);
      border-radius: 50%;
    }
    .el2 {
      @include positioned-el(1.125rem, left, top, 15%, 10rem, #162d71);
      @include shaking-el(-5px, -10px, -5px, -10px, 2s);
      border-radius: 50%;
    }
    .el3 {
      @include positioned-el(0.625rem, left, top, 30%, 6rem, #0fa7fa);
      @include shaking-el(20px, 30px, 20px, 10px, 2s);
      border-radius: 50%;
    }
    .el4 {
      @include positioned-el(1.5625rem, right, top, 70%, 9.5rem, #e30c25);
      @include scaling-el(0.7, 1, 3s);
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
      transform: rotate(14deg);
    }
    .el5 {
      @include positioned-el(1.68rem, right, top, 10%, 8rem, #0fa7fa);
      @include shaking-el(20px, 30px, 20px, 10px, 2.5s);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
    .el6 {
      @include positioned-el(0.8125rem, left, top, 70%, 12rem, #162d71);
      @include shaking-el(20px, 30px, 20px, 10px, 3s);
      border-radius: 50%;
    }
    .el7 {
      @include positioned-el(1.125rem, left, top, 75%, 2rem, #162d71);
      @include shaking-el(-5px, -10px, -5px, -10px, 2s);
      border-radius: 50%;
    }
    .el8 {
      @include positioned-el(0.875rem, right, top, 35%, 7rem, #10a7fa);
      @include shaking-el(20px, 30px, 20px, 10px, 2s);
      border-radius: 50%;
    }
    .title {
      @include subtitle;
      margin-bottom: 6rem;
    }
    .button {
      width: 10rem;
    }
  }

  .scroll-top-button {
    position: fixed;
    right: 1.5rem;
    bottom: 3rem;
  }

  .join-us-button {
    --x-offset: 20%;
    position: relative;
    box-shadow: 0 0 8px 0 rgb(72, 126, 203);
    svg {
      opacity: 0;
      position: absolute;
      top:50%;
      left: 20%;
      transform: translateY(-50%);
      transition: all .5s ease;
    }
    span {
      display: inline-block;
      transition:  all .5s ease;
    }
    &:hover {
      background: #172d72;
      box-shadow: none;
    }
    &:hover span{
      transform :translateX(var(--x-offset));
    }
    &:hover svg {
      transform :translate(var(--x-offset),-50%);
      opacity: 1;
    }
  }
}
