@import '../../common';



.PingCAP-About-ZH {

  $icons: office-equipment gym team-building snacks TGIF flexible;

 // default value
  --is-12: 960px;

  @include desktop{
    --is-12: 960px;
  };

  @include widescreen{
    --is-12: 1152px;
  };

  @include fullhd{
    --is-12: 1344px;
  };

  @mixin paragraph {
    font-size: $P1;
    font-weight: 400;
    color: $M3;
  }

  @mixin subtitle {
    @include section-title;
    font-size: $H1;
    font-weight: 500;
    color: $M3;
    margin-bottom: 4rem;
  }

  @mixin custom-column-section($columns: 12) {
    $size: calc((12 - #{$columns}) / 2 * var(--is-12) / 12);
    padding-left: $size;
    padding-right: $size;
  }

  @function column-to-width($columns: 12) {
    @return calc(#{$columns} * var(--is-12) / 12);
  }

  @each $icon in $icons {
    .#{$icon} {
      background: url(../../../images/zh/about/#{$icon}.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 3.75rem;
      height: 3.75rem;
    }
  }
  .hero {
    background-color: $B3;


    .hero-body {
      padding: 4rem 1rem;
    }

    img {
      width: 35vw;
    }
  }
  >.section {
    max-width: var(--is-12);
    padding: 6rem 0 0;
    margin: 0 auto;
  }

  .intro-section {
    @include custom-column-section(10);
    .container {
      .title {
        @include subtitle; 
        color: $M3;
      }
      .paragraph {
        @include paragraph;
        margin-bottom: 5rem;
        color: $M4;
  
      }
      .center-button {
        display: block;
        width: 10rem;
        margin: 0 auto 6rem;
      }
    }
  }

  .timeline-section {
    @include has-light-background;
    max-width: 100%;
    .container {
      margin: 0;
      max-width: none;
      padding-bottom: 6rem;
    }
    .title {
      @include subtitle;
    }
    img {
      width: column-to-width(10);
      display: block;
      margin: 0 auto;
    }
  }

  .intro-video-section {
    position: relative;
    max-width: 100%;
    height: 49.69rem;
    .particles {
      height: 100%;
    }
    .intro-video {
      width: column-to-width(10);
      position: absolute;
      top: 6rem;
      bottom: 6rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .working-env-section {
    @include has-light-background;
    max-width: 100%;
    padding-bottom: 1rem;
    .container {
      max-width: column-to-width(10);
      .title {
        @include subtitle;
      }
      .paragraph {
        @include paragraph;
        color: $M4;
        margin-bottom: 5rem;
      }
      .col-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: column-to-width(2);
      }
      .col {
        max-width: column-to-width(2);
      }
      .env-desc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 5rem;
        h3 {
          font-size: $P1;
          font-weight: 400;
          color: $M3;
          margin: 1rem 0 1.5rem;
        }
        p {
          font-size: $P1;
          font-weight: 300;
          color: $M4;
        }
      }
    }
  }

  .contact-us-section {
    @include custom-column-section(8);
    padding-bottom: 4rem;
    background: url('../../../../images/about/map.svg') center no-repeat;
    background-size: contain;
    .title {
      @include subtitle;
    }
    .left-column {
      position: relative;
      line-height: 1.2;
    }
    .address-title,.contact-title {
      font-size: $P1;
      font-weight: 400;
      color: $M3;
    }
    .address{
      font-size: $P1;
      font-weight: 400;
      color: $M3;
    }
    .office-info {
      margin-bottom: 1.5rem;
    }
    .contact-info {
      margin-bottom: 2.25rem;
      .contact {
        font-size: $P1;
        font-weight: 300;
        color: $M4;
      }
    }
    .consult-link {
      font-size: $P1;
      font-weight: 300;
      color: $B1;
    }
  }


  .join-section {
    position: relative;
    text-align: center;
    height: 24.63rem;
    padding: 4rem 0 8rem;
    
    .title {
      @include subtitle;
      margin-bottom: 6rem;
    }
    .button {
      width: 10rem;
    }
  }

  .scroll-top-button {
    position: fixed;
    right: 1.5rem;
    bottom: 3rem;
  }

  .join-us-button {
    --x-offset: 20%;
    position: relative;
    box-shadow: 0 0 8px 0 rgb(72, 126, 203);
    svg {
      opacity: 0;
      position: absolute;
      top:50%;
      left: 20%;
      transform: translateY(-50%);
      transition: all .5s ease;
    }
    span {
      display: inline-block;
      transition:  all .5s ease;
    }
    &:hover {
      background: #172d72;
      box-shadow: none;
    }
    &:hover span{
      transform :translateX(var(--x-offset));
    }
    &:hover svg {
      transform :translate(var(--x-offset),-50%);
      opacity: 1;
    }
  }
}
