@import '../common';

@mixin columns {
  --is-12: 960px;

  @include desktop {
    --is-12: 960px;
  }

  @include widescreen {
    --is-12: 1152px;
  }

  @include fullhd {
    --is-12: 1344px;
  }
}

@function column-to-width($columns: 12) {
  @return calc(#{$columns} * var(--is-12) / 12);
}

@mixin paragraph {
  font-size: $P1;
  font-weight: 400;
  color: $F1;
}

.PingCAP-About {
  @include columns;

  @mixin sub-title {
    font-size: $H1;
    font-weight: 700;
    color: $F1;
    margin-bottom: 4rem;
    text-align: center;
  }

  .hero {
    @include mobile {
      margin-bottom: 3rem;
    }

    background-color: #172d72;

    .hero-body {
      padding: 4rem 1rem;
    }

    img {
      @include mobile {
        width: 87.5%;
      }
      width: 47.5rem;
    }
  }

  > .section {
    max-width: column-to-width(12);
    margin: 0 auto;
    padding: 0;
  }

  @include mobile {
    > .section {
      max-width: 100%;
      padding: 3rem $mobile-section-padding;
    }
  }

  .intro-section {
    max-width: column-to-width(10);
    margin: 0 auto;
    text-align: center;
    padding-top: 6rem;
    .title {
      @include sub-title;
    }

    table {
      margin-bottom: 4rem;

      td:nth-child(1) {
        font-weight: $W3-EN;
      }
    }

    .paragraph {
      @include paragraph;
    }
    .paragraph:nth-child(8) {
      @include mobile {
        padding-bottom: 0;
        margin-bottom: 3rem;
      }
      margin-bottom: 5rem;
    }
    .contact-us-btn {
      @include mobile {
        margin-bottom: 3rem;
      }
      margin-bottom: 6rem;
    }

    &-jp {
      .paragraph {
        text-align: left;
      }
    }
  }

  .timeline-section {
    max-width: 100%;
    padding: 6rem 0;
    @include mobile {
      padding: 3rem 0;
    }
    @include has-light-background;
    .title {
      @include sub-title;
    }

    .img-jp {
      @include mobile {
        width: 80%;
      }
    }

    img {
      @include mobile {
        width: 60%;
      }

      display: block;
      width: column-to-width(10);
      margin: 0 auto;
    }
  }

  .company-culture-section {
    text-align: center;
    @include mobile {
      padding: 3rem 0;
    }
    padding: 6rem 0 8rem 0;
    position: relative;
    .container {
      @include mobile {
        padding: 0 $mobile-section-padding;
        width: 100vw;
      }
      background-image: url(../../../images/about/map.svg);
      background-repeat: no-repeat;
      background-size: contain;
      .wrapper {
        text-align: center;
        max-width: column-to-width(8);
        margin: 0 auto;
      }
      .title {
        @include sub-title;
        margin-bottom: 2rem;
      }
      .paragraph {
        @include paragraph;
      }
      .last {
        @include mobile {
          margin-bottom: 2rem;
        }
        font-size: $H2;
        font-weight: 700;
        color: $F1;
        margin-bottom: 6rem;
      }
      .button {
        width: 8.75rem;
      }
    }
  }
}
