@import '../common';

.PingCAP-About {

  .hero {
    background-color: $B3;

    .hero-body {
      padding: 4rem 1rem;
    }

    img {
      width: 35vw;
    }
  }

  .intro-section {
    text-align: center;
  }

  .timeline-section {
    @include has-light-background;
  }

  .company-culture-section {
    .container {
      text-align: center;
      max-width: 800px;
      background-image: url(../../../images/about/map.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .last {
      font-weight: bold;
    }
  }
}
