@import '../common';

.PingCAP-Careers {
  .hero {
    .hero-body {
      @include has-light-background;
    }

    img {
      height: 200px;
      margin-bottom: 3rem;
    }

    .button {
      margin-top: 3rem;
      font-size: $size-7;
    }
  }

  .working-env-section {
    text-align: center;

    .columns {
      margin: 2rem auto;

      .column {
        padding-top: 3rem;

        img {
          height: 60px;
        }
      }
    }
  }

  .open-positions-section {
    @include has-light-background;
  }
}
