@import '../common';
@import '../../../node_modules/swiper/css/swiper.min.css';

.PingCAP-CaseStudies {
  // default value
  --is-12: 960px;

  @include desktop {
    --is-12: 960px;
  }

  @include widescreen {
    --is-12: 1152px;
  }

  @include fullhd {
    --is-12: 1344px;
  }

  $is-1: calc(var(--is-12) / 12);

  @function get-columns-width($n) {
    @return calc(#{$n} * var(--is-12) / 12);
  }

  @mixin main-title {
    font-size: $H1;
    font-weight: 700;
    color: $M3;
  }

  @mixin main-title-zh {
    font-size: $H1;
    font-weight: 500;
    color: $M3;
  }

  .top-banner-wrapper {
    position: relative;

    .banner {
      @include mobile {
        height: 200px;
      }

      max-height: 400px;
    }

    .titles {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate3d(-50%, -50%, 0);
      text-align: center;

      .title {
        @include mobile {
          font-size: $size-4;
        }

        &-zh {

          @include mobile {
            font-size: $H1;
            letter-spacing: 0.1875rem;
          }

          font-size: 3.125rem;
          font-weight: 500;
          letter-spacing: 0.375rem;
          color: white;
        }

        color: #fff;
      }
    }
  }

  .title-under-banner,
  .title-under-swiper {
    margin: 4rem 0;
    text-align: center;
  }

  .title-under-banner {
    @include main-title;

    &-zh {
      @include main-title-zh;
    }

    @include mobile {
      margin-bottom: 4rem;
    }
    margin-top: 0;
  }

  .title-under-swiper {
    @include mobile {
      margin-top: 7.5rem;
    }
    @include main-title;

    &-zh {
      @include main-title-zh;
    }

    margin-top: 6rem;
  }

  .container {
    overflow: hidden;
  }

  .swiper-container {
    @include mobile {
      height: 46rem;
      overflow: visible;
    }
    @include fullhd {
      width: 85%;
    }

    position: relative;
    width: 100%;
    height: 450px;
    margin: 0 auto;

    .top {
      @include mobile {
        height: 100%;
      }

      height: 85%;
    }

    .swiper-slide {
      @include mobile {
        flex-direction: column-reverse;
      }

      display: flex;

      .intro {

        @include VHCenter;

        flex-direction: column;
        flex: 1.5;
        margin-top: 6rem;

        .subtitle {
          position: relative;
          margin-bottom: 1rem;
          font-size: $H2;
          font-weight: 700;
          color: $M3;

          &::after {
            content: '';
            display: block;
            position: absolute;
            background: url(../../../images/case-studies/quote-mark.svg);
            background-repeat: no-repeat;
            width: 3.05rem;
            height: 2.26rem;
            left: 50%;
            top: -2.8rem;
            transform: translate(-50%, -50%);
          }
        }

        .summary {
          @include mobile {
            padding: 0 2rem;
            overflow: hidden;
            margin-bottom: 2rem;
          }

          padding: 0 3rem;
          color: $B4;
        }

        .see-case-study {
          @include mobile {
            margin-bottom: 1rem;
          }
          @include has-item-active(-0.5rem);

          color: $primary;
        }
      }

      .placeholder {
        flex: 1;
      }
    }

    .fixed-placeholder {
      @include mobile {
        top: 2rem;
        left: 50%;
        right: unset;
        width: 83%;
        transform: translateX(-50%);
      }
      @media screen and (min-width: 768px) and (max-width: 768px) {
        width: 40%;
      }

      position: absolute;
      top: 50%;
      right: 3rem;
      width: 35%;
      transform: translateY(-60%);
      z-index: 29;
    }

    .swiper-prev,
    .swiper-next {
      @include has-pingcap-style-navigate;
      @include mobile {
        display: none;
      }
    }

    .swiper-custom-pagination {
      @include has-pingcap-style-pagination(140px);
      @include mobile {
        $connect-width: 70px;

        position: relative;
        top: 15px;

        .bullet {
          margin-right: $connect-width;

          &:after {
            width: $connect-width;
          }
        }
      }
    }
  }

  .bottom {
    @include mobile {
      justify-content: center;
      width: 50%;
      bottom: 2rem;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: get-columns-width(8);
    height: 3.25rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;
    padding: 0;
    z-index: 99;
  }

  .customer-categories {
    width: 60%;
    margin: 0 auto;
    display: flex;

    .dropdown-trigger {
      width: 100%;

      .button {
        min-width: 100%;
        justify-content: space-between;

        &:focus {
          box-shadow: unset;
          border: 1px solid #2e2fff;
        }

        .down-arrow {
          width: 0.875rem;
          padding-top: 0.5rem;
          background: url(../../../images//case-studies/arrow-down.svg)
            no-repeat center;
        }

        .up-arrow {
          @extend .down-arrow;
          transform-origin: center;
          transform: rotate(180deg);
        }
      }
    }

    .dropdown-menu {
      width: 100%;
      z-index: 99;
    }
  }

  .logos {

    @include mobile {
      margin-left: 0;
      margin-right: 0;
    }

    margin-top: 4.5rem;

    .column {
      @include mobile {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
      @include tablet {
        &:hover {
          .simple-card {
            opacity: 0;
          }

          .detail-card {
            opacity: 1;
          }
        }
      }

      position: relative;
      height: 16rem;
      cursor: pointer;
    }

    .simple-card,
    .detail-card {
      transition: 0.5s;
    }

    .simple-card {
      @include VHCenter;
      @include mobile {
        opacity: 0;
      }

      position: relative;
      flex-direction: column;
      height: 100%;
      background: #fff;
      opacity: 1;

      @each $logo in $logos {
        .#{$logo}-logo {
          width: 30%;
          height: 30%;
        }
      }

      .title {
        margin-top: 1.5rem;
        font-size: $P1;
        font-weight: 400;
        color: $M4;
      }
    }

    .detail-card {
      @include mobile {
        opacity: 1;
        height: auto;
      }

      position: absolute;
      top: 50%;
      left: 0;
      display: flex;
      overflow: hidden;
      height: 100%;
      flex-direction: column;
      transform: translateY(-50%);
      opacity: 0;
      z-index: 29;

      @each $logo in $logos {
        .#{$logo}-logo {
          @include tablet {
            display: none;
          }

          position: absolute;
          top: -0.5rem;
          right: -0.25rem;
          width: 68px;
          padding-top: 68px;
        }
      }

      $big-logos: Shopee Meituan-Dianping Mobike LinkDoc-Technology Seasun-Games
        Yoozoo-Games FUNYOURS-JAPAN Bank-of-Beijing Ping--;

      @each $logo in $big-logos {
        .#{$logo}-logo {
          @include mobile {
            top: -1.5rem;
            width: 72px;
            height: 72px;
          }
        }
      }

      .title {
        @include mobile {
          font-size: $H1;
          font-weight: 700;
        }
        margin-bottom: 1rem;
      }

      .summary {
        color: $B4;
      }

      .read-more {
        color: $B3;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  @include tablet {
    > .container {
      overflow: visible;
    }

    > .section {
      max-width: var(--is-12);
      padding: 6rem 0 6rem;
      margin: 0 auto;
    }

    .swiper-container {
      max-width: get-columns-width(10);
      height: 28.06rem;

      .top {
        height: 100%;

        .swiper-slide {
          display: flex;
          align-items: center;

          .intro {
            height: 11.27rem;
            margin: 0;

            .subtitle {
              margin-bottom: 2rem;
            }

            .summary {
              padding: 0;
              margin: 0 $is-1 2rem;
              font-size: 1rem;
              font-weight: 300;
              color: $M4;
            }
          }

          .placeholder {
            height: inherit;
            position: relative;
          }
        }
      }

      .fixed-placeholder {
        position: absolute;
        width: get-columns-width(3);
        right: $is-1;
      }
    }

    .customer-categories {
      width: get-columns-width(2);
      margin: 0 auto;
      display: flex;
    }

    .logos {
      max-width: var(--is-12);

      .detail-card {
        $size: 100%;
        width: $size;
        height: $size;
        padding: 2.5rem 3rem;
        box-shadow:0px 3px 8px rgba(0,0,0,0.1);

        .detail-card-logo{
          display: none;
        }

        .title {
          margin-bottom: 2rem;
        }

        .paragraph {
          margin-bottom: 2rem;
          padding: 0;
          font-weight: 400;
          font-size: $P2;
          color: $M4;
          overflow: auto;
        }
      }
    }
  }
}

