@import '../common';

.PingCAP-Contact-Us {
  @mixin paragraph {
    font-size: $P1;
    font-weight: 400;
    color: $M3;
  }

  @mixin form-text-fill {
    background: $B5;
    border: 1px solid $C2;
  }

  @mixin form-error-position {
    position: absolute;
    left: 0;
    bottom: calc(-1 * (0.75rem + 1.5 * 1em));
  }

  .section-title {
    font-size: $size-1;
    color: $M1;

    &-zh {
      @include mobile {
        font-size: $H1;
        font-weight: 500;
        margin-bottom: 0 !important;
      }

      font-size: $H0;
      font-weight: 500;
      margin-bottom: 2rem !important;
    }
  }
  .subtitle-under-main-title {
    max-width: 1000px;
    margin: 0 auto;
    font-size: $size-5;
    color: $M1;

    &-zh {
      @include mobile {
        display: none;
      }

      font-size: $H3;
      font-weight: 400;
    }
  }

  .hero {
    background: url(../../../images/contact-us/contact-us-hero.svg) center
      no-repeat;
    background-color: $B3;
    background-size: contain;
  }

  .form-section {
    max-width: 800px;
    text-align: center;
    margin: 2rem auto;

    &-zh {
      @include mobile {
        padding-bottom: 2rem;
      }

      .form-container {
        @include mobile {
          width: 100%;
          flex-direction: column;
          align-items: center;
        }

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 50%;
        margin: 0 auto;

        .form-item--text {
          @include mobile {
            width: 75%;
            margin-bottom: 4rem;
          }

          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          width: 41.66%;
          margin-bottom: 2.5rem;
          position: relative;

          input {
            width: 100%;
            height: 2.5rem;
            @include form-text-fill;
          }

          input:focus {
            outline: none;
            border: 1px solid $B1;
          }

          .form-text--error {
            @include form-error-position;
          }
        }

        .form-item--textarea {
          position: relative;
          margin-bottom: 2.5rem;

          @include mobile {
            width: 75%;
            margin-bottom: 4rem;
          }

          textarea {
            width: 100%;
            height: 6rem;
            @include form-text-fill;
            resize: none;
          }

          textarea:focus {
            outline: none;
            border: 1px solid $B1;
          }

          .form-text--error {
            @include form-error-position;
          }
        }

        .form-item--checkbox-radio {
          @include mobile {
            width: 75%;
            margin-bottom: 0;
          }

          display: inline-flex;
          flex-direction: row-reverse;
          align-items: center;
          position: relative;

          .form-label {
            margin-bottom: 0;
          }

          input {
            margin-right: 2rem;
          }

          .form-text--error {
            @include form-error-position;
          }
        }

        .form-item--error {
          input {
            border: 1px solid #fd746c;
          }
        }

        .submit-btn {
          width: 33.3%;
          height: 3rem;
          margin: 4rem auto 0;
          background: rgba(46, 47, 255, 1);
          box-shadow: 0px 3px 6px rgba(46, 47, 255, 0.2);
          opacity: 1;
          border-radius: 4px;
          outline: none;
          border: none;
          color: #fff;
          cursor: pointer;

          &:hover {
            background-color: #1516ff;
          }
        }

        .form-label {
          @include paragraph;
          margin-bottom: 0.75rem;

          .label-star {
            color: red;
          }

        }

        .form-text--error {
          @include paragraph;
          font-size: $P2;
          color: #fd746c;
        }
      }
    }
  }

  .map-section {
    @include has-light-background;
    padding: 4rem 1.5rem;

    .mapouter {
      position: relative;
      text-align: right;
      height: 100%;
      width: 100%;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 100%;
      width: 100%;
    }

    .address-col {
      .address {
        text-align: left;
        margin-bottom: 2rem;

        .addr-title {
          font-size: $size-5;
          font-weight: bold;
          color: $M3;
        }

        .addr-detail {
          font-size: $size-7;
          color: $M3;
        }
      }
    }
  }

  .map-section-zh {
    @include mobile {
      padding-top: 0;
      padding-bottom: 0;
    }

    .addr-container {
      @include mobile {
        flex-direction: column-reverse;
        width: 100%;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 83.3%;
      margin: 0 auto;
    }

    .addr-text {
      @include mobile {
        width: 50%;
        align-items: center;
      }

      width: 20%;
      display: flex;
      flex-direction: column;

      .addr-company-title,
      .addr-tel-title {
        font-size: $H3;
        font-weight: 400;
        color: $M3;
        margin-bottom: 1.5rem;
      }

      .addr-company-desc,
      .addr-tel-desc {
        @include mobile {
          margin-bottom: 2rem;
        }

        font-size: $H3;
        font-weight: 300;
        color: $M3;
        margin-bottom: 3rem;
      }
    }

    .addr-map {
      @include mobile {
        width: 100vw;
        height: 50vw;
        margin-bottom: 2rem;
      }
      height: 25rem;
      width: 70%;
    }
  }

  .submit-title-wrapper {
    margin: 8rem auto 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .submit-icon {
      height: 100%;
      margin-right: 1rem;
    }
    
    .submit-text--title {
      font-size: $H1;
      color: $M3;
      font-weight: 500;
    }
  }

  .submit-desc {
    @include paragraph;
    text-align: center;
    margin-bottom: 8rem;
  }

}
