@import '../common';

.PingCAP-Contact-Us {
  .section-title,
  .subtitle-under-main-title {
    color: $M1;
  }

  .hero {
    background-image: url(../../../images/contact-us/contact-us-hero.svg);
    background-color: $B3;
    background-size: contain;

    h2 {
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  .form-section {
    max-width: 800px;
    text-align: center;
    margin: 2rem auto;
  }

  .map-section {
    @include has-light-background;
    padding: 4rem 1.5rem;

    .mapouter {
      position: relative;
      text-align: right;
      height: 100%;
      width: 100%;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 100%;
      width: 100%;
    }

    .address-col {
      transform: translateX(20%);

      .address {
        text-align: left;
        margin-bottom: 2rem;
  
        .addr-title {
          font-size: $size-5;
          font-weight: bold;
          color: $M3;
        }
  
        .addr-detail {
          font-size: $size-7;
          color: $M4;
        }
      }
    }
  }
}
