@import '../common';

.PingCAP-Contact-Us {
  @mixin paragraph {
    font-size: $P1;
    font-weight: 400;
    color: $F1;
  }

  @mixin form-text-fill {
    background: $M2;
    border: 1px solid $C2;
  }

  @mixin form-error-position {
    position: absolute;
    left: 0;
    bottom: calc(-1 * (0.75rem + 1.5 * 1em));
  }

  .section-title {
    font-size: $size-1;
    color: $M1;

    &-en {
      text-align: left;

      .subtitle-under-main-title {
        margin: 0;
      }
    }
  }
  .subtitle-under-main-title {
    max-width: 1000px;
    margin: 0 auto;
    font-size: $size-5;
    color: $M1;

    &-en {
      padding-bottom: 3rem;
      font-size: $size-5;
      color: $M1;
    }
  }

  .partner-hero-title {
    font-size: $size-3;
  }

  .hero {
    background: url(../../../images/contact-us/contact-us-hero.svg) center
      no-repeat;
    background-size: cover;
  }

  .form-section {
    max-width: 800px;
    text-align: center;
    margin: 2rem auto;
  }

  .map-section {
    @include has-light-background;
    padding: 4rem 1.5rem;

    .mapouter {
      position: relative;
      text-align: right;
      height: 100%;
      width: 100%;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 100%;
      width: 100%;
    }

    .address-col {
      .address {
        text-align: left;
        margin-bottom: 2rem;

        .addr-title {
          font-size: $size-5;
          font-weight: bold;
          color: $F1;
        }

        .addr-detail {
          font-size: $size-7;
          color: $F1;
        }
      }
    }
  }

  .address-section {
    padding: 3rem 1.5rem 9rem;

    .section-title {
      padding-bottom: 3rem;
      font-size: $size-4;
      color: $F1;
    }

    .is-desktop {
      flex-flow: row wrap;
    }

    .details {
      display: flex;
      flex-flow: row wrap;
      position: relative;
      align-items: flex-start;
      margin: 0 auto;
      width: 50%;

      @include mobile {
        width: auto;

        img {
          width: 20% !important;
        }

        .addr {
          width: 75%;
        }
      }

      img {
        width: 80px;
        height: auto;
      }

      .addr {
        padding-left: 1.5rem;

        p {
          padding-bottom: 1rem;
        }
      }
    }


    .location {
      font-weight: $W3-EN;
      font-size: $H3;
      color: $F1;
    }
  }

  .submit-title-wrapper {
    margin: 8rem auto 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .submit-icon {
      height: 100%;
      margin-right: 1rem;
    }

    .submit-text--title {
      font-size: $H1;
      color: $F1;
      font-weight: 500;
    }
  }

  .submit-desc {
    @include paragraph;
    text-align: center;
    margin-bottom: 8rem;
  }
}
