@import '../common';
@import '../../../node_modules/swiper/css/swiper.min.css';

.has-light-background {
  @include has-light-background;
}

@mixin strikethrough($color) {
  width: 1rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid $color;
}

.strikethrough-white {
  @include strikethrough(#fff);
}

.strikethrough-primary {
  @include strikethrough($primary);
}

$logos: paypay shopee bookmyshow bank-of-beijing hulu qiy netease-games jd-cloud
  mi webank;

@mixin has-intro-and-placeholder {
  @include mobile {
    flex-direction: column;
    text-align: center;
  }

  display: flex;
  align-items: center;

  > * {
    flex: 1;
  }

  $img-width: 90%;

  .placeholder-wrapper {
    @include VHCenter;

    height: 100%;

    .placeholder {
      width: $img-width;
    }
  }

  .divider {
    flex: none;
    width: (100% - $img-width) / 2;
  }

  .intro {
    padding: 1.5rem 0;

    .desc {
      line-height: 1.75;
    }
  }
}

.box.outer {
  @extend .has-light-background;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba($color: $C2, $alpha: 0.5);
}

.PingCAP-Home {
  .hero {
    .container {
      @include mobile {
        flex-direction: column-reverse;
        justify-content: center;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      > * {
        width: 40%;
      }

      .titles-and-entry {
        @include mobile {
          width: 100%;
        }

        h1,
        h2 {
          @include mobile {
            text-align: center;
          }

          position: relative;
          margin-bottom: 3rem;

          @include items-on-hero-animate-in;
        }

        h1 {
          img {
            width: 100%;
          }
        }

        h2 {
          width: 100%;
          color: $B3;
          line-height: $LH4;
        }

        .buttons {
          @include mobile {
            display: flex;
            justify-content: center;
          }

          a {
            font-size: $size-6;

            &:first-child {
              margin-right: 1rem;
            }
          }
        }
      }

      .video-wrapper {
        @include mobile {
          width: 80%;
          margin-bottom: 2rem;
        }

        @keyframes show {
          from {
            opacity: 0;
            transform: translateY(25%);
          }

          to {
            opacity: 1;
            transform: translateY(0);
          }
        }

        position: relative;
        animation: show 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        video {
          position: absolute;
          top: 0;
          left: 0;

          // https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b
          mask-image: radial-gradient(white, black);
        }
      }
    }
  }

  .home-title {
    @include section-title
  }

  .section-subtitle {
    text-align: left;
    font-weight: bold;
  }

  @each $logo in $logos {
    .#{$logo}-logo {
      background: url(../../../images/home/logos/#{$logo}.png) center no-repeat;
      background-size: contain;
    }
  }

  .section-case-studies {
    .logos {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      > * {
        @include mobile {
          flex-basis: 33.33333%;
          margin-bottom: 1.5rem;

          &:last-child {
            margin-bottom: 3rem;
          }
        }

        flex-basis: 20%;
        height: 72px;
        margin-bottom: 3rem;
      }
    }
  }

  .section-celebrate-your-growth {
    .column {
      display: flex;
    }

    .box {
      padding-top: 0;

      .desc {
        line-height: 1.5;
        text-align: center;
      }
    }
  }

  .section-benefits {
    .benefits {
      .benefit {
        @include has-intro-and-placeholder;
        @include mobile {
          margin-top: 3rem;

          &:first-child {
            margin-top: 0;
          }
        }

        > * {
          // https://easings.net/#easeOutQuad
          transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        &.reverse {
          @include tablet {
            flex-direction: row-reverse;
          }
        }
      }
    }
  }

  .section-get-started {
    background: url(../../../images/home/get-started-with-tidb-banner.svg)
      center no-repeat;
    background-size: cover;

    .container {
      @include mobile {
        flex-direction: column;

        .title {
          margin-bottom: 1.5rem !important;
          text-align: center;
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        margin: 0;
      }

      a {
        font-size: $size-6;

        &:first-child {
          margin-right: 2.5rem;
        }

        &.contact-us,
        &.get-tidb {
          &:hover {
            background: $primary;
            color: #fff;
            border-color: $primary;
          }
        }

        &.get-tidb {
          width: 140px;
          background: #fff;
          color: $B3;
          border-color: #fff;
        }
      }
    }
  }

  .section-architecture {
    .images {
      @include mobile {
        flex-direction: column;
        align-items: center;
      }

      display: flex;
      justify-content: space-between;
      overflow: hidden;

      > * {
        @include mobile {
          width: 325px;
          height: 190px;
        }

        // https://easings.net/#easeOutQuad
        transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        width: 420px;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .left {
        @include mobile {
          background-image: url(../../../images/home/architecture/left-mobile.svg);
        }

        background-image: url(../../../images/home/architecture/left-desktop.svg);
      }

      .center {
        @include mobile {
          width: 250px;
          height: 300px;
        }

        margin: 0 2rem;
        background-image: url(../../../images/home/architecture/center.svg);
      }

      .right {
        @include mobile {
          background-image: url(../../../images/home/architecture/right-mobile.svg);
        }

        background-image: url(../../../images/home/architecture/right-desktop.svg);
      }
    }
  }

  .section-learn-more {
    .card {
      height: 100%;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        box-shadow: $shadow-hover;
      }

      figure.image {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden;

        img {
          position: relative;
          right: 40%;
          width: 180%;
          max-width: 180%;
        }
      }

      .author {
        font-size: $size-8;
      }

      .summary {
        color: $M4;
      }
    }

    .view-more-wrapper {
      margin-top: 2.25rem;
    }
  }

  .section-get-started-with-tidb {
    padding-bottom: 0;

    .container {
      padding-bottom: 3rem;
      border-bottom: 1px solid $C2;
    }

    .box {
      .title.is-7 {
        color: $C4;
      }

      &.logo,
      a.button {
        width: 80%;
      }

      &.logo {
        @include VHCenter;

        $image-height: 4rem;

        img {
          height: $image-height;
        }

        &.tiup {
          padding: calc(1.25rem + 0.5rem);

          img {
            height: calc(#{$image-height} - 1rem);
          }
        }

        &.aws {
          padding: calc(1.25rem - 0.5rem);

          img {
            height: calc(#{$image-height} + 1rem);
          }
        }

        &.tidb-cloud {
          height: 14.5rem;
        }
      }
    }
  }

  .section-join-us-newsletter {
    .PingCAP-PostFromUs {
      @include mobile {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}
