@import '../common';
@import '../../../node_modules/swiper/css/swiper.min.css';

.has-light-background {
  @include has-light-background;
}

$logos: paypay shopee bookmyshow bank-of-beijing hulu qiy netease-games jd-cloud
  mi webank;

@mixin has-intro-and-placeholder {
  @include mobile {
    flex-direction: column;
    text-align: center;
  }

  display: flex;
  align-items: center;

  > * {
    flex: 1;
  }

  $img-width: 90%;

  .placeholder-wrapper {
    @include VHCenter;

    height: 100%;

    .placeholder {
      width: $img-width;
    }
  }

  .divider {
    flex: none;
    width: (100% - $img-width) / 2;
  }

  .intro {
    padding: 1.5rem 0;
  }
}

.PingCAP-Home {
  .hero {
    .container {
      @include mobile {
        flex-direction: column-reverse;
        justify-content: center;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .titles-and-entry {
        h1,
        h2 {
          @include mobile {
            text-align: center;
          }

          margin-bottom: 3rem;
        }

        h1 {
          img {
            width: 400px;
          }
        }

        h2 {
          @include mobile {
            width: 100%;
            font-size: $size-6;
          }

          width: 400px;
          color: $B3;
          line-height: $LH4;
        }

        .buttons {
          @include mobile {
            display: flex;
            justify-content: center;
          }

          a {
            font-size: $size-6;

            &:first-child {
              margin-right: 1rem;
            }
          }
        }
      }

      .img-wrapper {
        @include mobile {
          width: 80%;
          margin-bottom: 2rem;
        }

        width: 40%;
      }
    }
  }

  .home-title {
    margin-bottom: 3rem;
    font-size: $size-5;
    text-align: center;
  }

  .link-with-arrow {
    color: $primary;

    svg {
      position: relative;
      top: 0.125rem;
      font-size: $size-7;
    }
  }

  @each $logo in $logos {
    .#{$logo}-logo {
      background: url(../../../images/home/logos/#{$logo}.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .section-case-studies {
    .logos {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      > * {
        @include mobile {
          flex-basis: 33.33333%;
          margin-bottom: 1.5rem;

          &:last-child {
            margin-bottom: 3rem;
          }
        }

        flex-basis: 20%;
        height: 72px;
        margin-bottom: 3rem;
      }
    }
  }

  .section-celebrate-your-growth {
    .swiper-container {
      @include mobile {
        flex-direction: column-reverse;
      }

      display: flex;
      flex-direction: column;

      .top {
        @include mobile {
          justify-content: center;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .swiper-prev,
      .swiper-next {
        @include has-pingcap-style-navigate;
        @include mobile {
          display: none;
        }
      }

      .swiper-custom-pagination {
        @include has-pingcap-style-pagination(140px);
        @include mobile {
          $connect-width: 70px;

          margin-top: 1.5rem;

          .bullet {
            margin-right: $connect-width;

            &:after {
              width: $connect-width;
            }
          }
        }
      }

      .swiper-slide {
        @include has-intro-and-placeholder;

        .title.has-pingcap-style-underline {
          @include mobile {
            display: none;
          }

          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .section-benefits {
    .benefits {
      .benefit {
        @include has-intro-and-placeholder;
        @include mobile {
          margin-top: 3rem;

          &:first-child {
            margin-top: 0;
          }
        }

        &.reverse {
          @include tablet {
            flex-direction: row-reverse;
          }
        }
      }
    }
  }
}
