@import '../common';
@import '../../../node_modules/swiper/css/swiper.min.css';

.has-light-background {
  @include has-light-background;
}

@mixin strikethrough($color) {
  width: 0.8rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid $color;
}

.strikethrough-white {
  @include strikethrough(#fff);
}

.strikethrough-primary {
  @include strikethrough($primary);
}

$logos: square lenovo tencent bigo blued paypay shopee bookmyshow bank-of-beijing netstars colopl-ja colopl
  hulu qiy netease-games jd-cloud mi webank zalopay unext wuba zhihu meituan;

$logos-zh: bank-of-china pingan guangda bank-of-beijing webank lufax ke-finance
  tencent meituan xiaomi netease-games iqiyi wuba zhihu china-mobile
  china-telecom china-unicom people oppo yumchina zto-express paypay zalopay
  shopee bookmyshow hulu u-next dailymotion;

.box.outer {
  @extend .has-light-background;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba($color: $C2, $alpha: 0.5);
}

@mixin columns-10 {
  .columns {
    width: calc(83.3% + 5rem);
    margin: 0 auto;

    @include mobile {
      width: 100%;
    }
  }
}

.PingCAP-Home {
  .hero {
    .container {
      @include mobile {
        flex-direction: column-reverse;
        justify-content: center;
      }

      margin: -1rem auto -3rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      > * {
        width: 41.667%;
      }

      .titles-and-entry {
        @include mobile {
          width: 100%;
        }

        h1,
        h2 {
          @include mobile {
            text-align: center;
          }

          position: relative;
          margin-bottom: 4rem;

          @include items-on-hero-animate-in;
        }

        h1 {
          img {
            @include mobile {
              width: 90%;
            }

            width: 75%;
          }

          @include mobile {
            margin-bottom: 2rem;
          }
        }

        h2 {
          width: 100%;
          color: $F1;
          line-height: $LH4;

          @include mobile {
            margin-bottom: 3rem;
          }
        }

        .buttons {
          @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 2.5rem;
            a {
              margin-right: 0 !important;
              &:not(:last-child) {
                margin-bottom: 2rem;
              }
            }
          }

          a {
            letter-spacing: 1px;

            &:first-child {
              margin-right: 2.5rem;

              @include mobile {
                &:first-child {
                  margin-right: 2rem;
                }
              }
            }
          }

          margin-bottom: 2rem;
        }
      }

      .video-wrapper {
        @include mobile {
          width: 80%;
          margin-bottom: 2rem;
        }

        @keyframes show {
          from {
            opacity: 0;
            transform: translateY(25%);
          }

          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        animation: show 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      .swiper-outer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        position: relative;
        width: unset;
      }

      .swiper-container {
        width: 42rem;
        height: 26.25rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

        img {
          width: 100%;
          height: 100%;
        }

        @media screen and (max-width: $fullhd) {
          width: 30rem;
          height: 18.75rem;
        }

        @media screen and (max-width: $desktop) {
          width: calc(50vw - 3rem);
          height: calc(31.25vw - 1.875rem);
        }

        @include mobile {
          width: 100vw;
          height: calc(409.66 / 645.33 * 100vw);
          box-shadow: none;
        }
      }

      .swiper-custom-pagination {
        margin-top: 10px;

        display: flex;
        flex-direction: row;
        justify-content: center;

        .bullet {
          position: relative;
          width: 20px;
          height: 20px;
          cursor: pointer;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            transform: scale(0.5);

            border-radius: 50%;
            background-color: #9fa8b9;
          }

          &.active:after {
            background-color: #2e2fff;
          }
        }

        @include mobile {
          visibility: hidden;
        }
      }
    }
  }

  @each $logo in $logos {
    .#{$logo}-logo {
      background: url(../../../images/home/logos/#{$logo}.png) center no-repeat;
      background-size: contain;
    }
  }

  @each $logo in $logos-zh {
    .#{$logo}-logo-zh {
      background: url(../../../images/home/logos/zh/#{$logo}.png)
        center
        no-repeat;
      background-size: contain;
    }
  }

  .section-case-studies {
    padding: 4rem 1.5rem 5rem;

    @include mobile {
      padding: 3rem 1rem;
    }

    h2 {
      margin-bottom: 4rem !important;
      @include mobile {
        width: 70%;
        margin-bottom: 3rem !important;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .logos {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 -3rem;

      width: calc(83.3% + 8rem);
      margin: 0 auto;

      @include mobile {
        width: 100%;
      }

      width: calc(83.3% + 8rem);
      margin: 0 auto;

      @include mobile {
        width: 100%;
      }

      > * {
        @include mobile {
          flex-basis: 33.3333333%;
          margin-bottom: 2rem;
          height: 40px;

          &:last-child {
            margin-bottom: 3rem;
          }
        }

        flex-basis: 20%;
        height: 48px;
        margin-bottom: 5rem;
      }

      .mobile-fake-logo {
        display: none;

        @include mobile {
          display: block;
        }
      }
    }

    &.zh {
      .logos {
        > * {
          height: 56px;
          flex-basis: 14.2%;
        }
      }
    }
  }

  .section-celebrate-your-growth {
    padding: 6rem 1.5rem 6rem;

    @include mobile {
      padding: 3rem 1rem 0rem;
    }

    h2 {
      margin-bottom: 4rem !important;

      @include mobile {
        margin-bottom: 3rem !important;
      }
    }

    h3 {
      @include H3;
    }

    @include columns-10;

    .column {
      display: flex;
      padding: 0 1rem;

      @include mobile {
        width: calc(85vw - 1.7rem);
        margin: 0 auto 2rem;
        padding: 0;
      }
    }

    .placeholder {
      width: 93%;
    }

    .box {
      padding: 1rem 2rem 2rem;

      &.outer {
        background-color: $M1;
      }

      .title.zh {
        font-weight: 400;
      }

      .desc {
        @include P1;
        .zh {
          font-weight: 300;
        }

        font-size: $size-8;
        line-height: 2;
        padding-bottom: 0;
      }
    }
  }

  .section-benefits {
    padding-bottom: 6rem;

    @include mobile {
      padding: 2rem 1rem 0rem;
    }

    .section-title {
      @include H0;
      margin-bottom: 4rem !important;

      @include mobile {
        margin-bottom: 3rem !important;
      }
    }

    .benefits {
      .benefit {
        width: 83.3%;
        margin: 0 auto;
        justify-content: space-between;

        @include mobile {
          flex-direction: column;
          text-align: center;
        }

        display: flex;
        align-items: center;

        > * {
          flex: 1;
        }

        $img-width: 90%;

        .placeholder-wrapper {
          @include VHCenter;

          height: 100%;
          width: 40%;
          flex: none;

          @include mobile {
            width: unset;
            margin-bottom: 3rem;
          }
        }

        .divider {
          flex: none;
          width: (100% - $img-width) / 2;
        }

        .intro {
          padding: 1.5rem 0;
          width: 40%;
          flex: none;
          margin-top: -2rem;

          .column-title {
            @include H0;
          }

          .paragraph {
            @include H3;
            font-weight: 500;
          }

          @include mobile {
            width: unset;
            padding-bottom: 2rem;

            .paragraph {
              padding-bottom: 2rem;
            }

            .column-title {
              text-align: center !important;
            }
          }

          .desc {
            line-height: 1.75;
          }
        }

        > * {
          // https://easings.net/#easeOutQuad
          transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        &.reverse {
          @include tablet {
            flex-direction: row-reverse;
          }
        }
      }
    }
  }

  .section-use-cases {
    @include mobile {
      padding: 3rem 1rem 0;
    }
  }

  .section-architecture {
    @include mobile {
      padding: 3rem 1rem 0;
    }

    .images {
      @include mobile {
        flex-direction: column;
        align-items: center;
      }

      display: flex;
      justify-content: space-between;
      overflow: hidden;

      > * {
        @include mobile {
          width: 325px;
          height: 190px;
        }

        // https://easings.net/#easeOutQuad
        transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        width: 420px;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .left {
        @include mobile {
          background-image: url(../../../images/home/architecture/left-mobile.svg);
        }

        &-jp {
          @include mobile {
            // background-image: url(../../../images/home/architecture/left-mobile-jp.svg);
          }

          background-image: url(../../../images/home/architecture/left-desktop-jp.svg);
        }

        background-image: url(../../../images/home/architecture/left-desktop.svg);
      }

      .center {
        @include mobile {
          width: 250px;
          height: 300px;
        }

        margin: 0 2rem;
        background-image: url(../../../images/home/architecture/center.svg);
      }

      .right {
        @include mobile {
          background-image: url(../../../images/home/architecture/right-mobile.svg);
        }

        &-jp {
          @include mobile {
            // background-image: url(../../../images/home/architecture/left-mobile-jp.svg);
          }

          background-image: url(../../../images/home/architecture/right-desktop-jp.svg);
        }

        background-image: url(../../../images/home/architecture/right-desktop.svg);
      }

      .center-zh {
        @include mobile {
          width: 450px;
          height: 180px;
          margin: 0;
        }

        width: 1344px;
        height: 534px;
        margin: 0 2rem;
        background-image: url(../../../images/home/architecture/zh/architecture.svg);
      }
    }
  }

  .section-learn-more {
    @include mobile {
      padding: 3rem 1rem 0;
    }

    h2 {
      margin-bottom: 4rem !important;

      @include mobile {
        margin-bottom: 3rem !important;
      }
    }

    @include columns-10;

    .column {
      display: flex;
      padding: 0 1rem;

      @include mobile {
        width: calc(85vw - 1.7rem);
        margin: 0 auto 2rem;
        padding: 0;
      }
    }

    .card {
      height: 100%;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        box-shadow: $shadow-hover;
      }

      figure.image {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden;

        img {
          position: relative;
          height: 13.3rem;
          object-fit: cover;
          // right: 40%;
          // width: 180%;
          // max-width: 180%;
        }
      }

      .title {
        @include P1;
        font-weight: 600;
        margin-bottom: 1rem;

        &.zh {
          font-weight: 400;
        }
      }

      .subtitle {
        @include P1;
        margin-bottom: 1rem;

        &.zh {
          font-weight: 300;
        }
      }

      .paragraph {
        @include P1;
        height: 3.5 * 24px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        overflow: hidden;
        //padding-bottom: 1rem;

        &.zh {
          font-weight: 300;
        }
      }
    }

    .view-more-wrapper {
      margin-top: 2.25rem;
    }
  }

  .section-get-started-with-tidb {
    padding-bottom: 0;

    h2 {
      margin-bottom: 4rem !important;

      @include mobile {
        margin-bottom: 3rem !important;
      }
    }

    .container {
      padding-bottom: 3rem;
      border-bottom: 1px solid $C2;

      @include mobile {
        padding-bottom: 1rem;
      }
    }

    @include columns-10;

    .column {
      padding: 0 1rem;

      @include mobile {
        width: calc(85vw - 1.7rem);
        margin: 0 auto 2rem;
        padding: 0;
      }
    }

    .box {
      padding: 2rem;
      align-items: stretch;

      .title.is-5 {
        margin-bottom: 1.5rem;
      }

      .strikethrough-primary {
        align-self: center;
      }

      .title.is-7 {
        color: $C4;
      }

      &.logo {
        @include VHCenter;
        @include shadow;

        height: 5rem;
        margin-bottom: 1.5rem;
        $image-height: 3rem;

        img {
          height: $image-height;
        }

        &.k8s {
          img {
            height: 3.1rem;
          }
        }

        &.tiup {
          img {
            height: 2.3rem;
          }
        }

        &.aws {
          img {
            height: calc(#{$image-height} + 1rem);
          }
        }

        &.gcp {
          img {
            height: 4.6rem;
          }
        }

        &.tidb-cloud {
          height: 11.5rem;
        }
      }

      .button {
        font-size: $size-7;
        height: 3rem;
      }

      &.outer {
        padding-bottom: 2.5rem;
      }
    }

    &.zh {
      .box {
        &.logo {
          &.tidb-cloud {
            img {
              height: 6rem;
            }
          }
        }
      }

      .column:nth-child(3) {
        a.button {
          pointer-events: none;
          background-color: #9fa8b9;
        }
      }

      .button {
        font-size: $size-7;
        height: 3rem;
      }
    }
  }

  .section-join-us-newsletter {
    .PingCAP-PostFromUs {
      @include mobile {
        .button {
          min-width: 228px;
        }
        flex-direction: column;
        text-align: center;
      }

      .title {
        @include H1;
      }

      .subtitle {
        @include P1;
      }
    }
  }
}
