@import './variables';
@import '../../node_modules/bulma/sass/utilities/all';

@mixin VHCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Use in navbar and footer item
@mixin has-item-active {
  position: relative;
  color: $B4;

  &:hover {
    background: none;
    color: $primary;

    &:after {
      content: '';
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      width: 20px;
      height: 3px;
      background: $primary;
      transform: translateX(-50%);
    }
  }
}

$socials: twitter linkedin facebook reddit slack youtube yc;

// Socials' Background
@each $social in $socials {
  .#{$social} {
    background: url(../../images/socials/#{$social}.svg);
    background-size: cover;

    &:hover {
      background: url(../../images/socials/#{$social}-hl.svg);
      background-size: cover;
    }

    width: 36px;
    height: 36px;
    cursor: pointer;
  }
}

// Common input style
@mixin has-pingcap-input-style {
  input {
    padding-bottom: calc(0.6rem - 1px);
    background: $B5;
    color: $B3;
    border-color: $C2;
    box-shadow: none;

    &::placeholder {
      color: $B4;
    }

    &:hover,
    &:focus {
      border-color: $primary;
    }

    &:focus ~ .icon {
      color: $primary !important;
    }
  }
}

@mixin has-hover-arrow {
  position: relative;
  transition: 0.5s;

  &:after {
    content: '➔';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 0.5s;
  }

  &:hover {
    padding-left: 50px;
  }

  &:hover:after {
    opacity: 1;
    left: 25px;
  }
}
