// Predefined
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import './common';
@import '../../node_modules/bulma/bulma.sass';

body {
  @extend .has-spaced-navbar-fixed-top; // padding-top: 5.25rem;
  @include mobile {
    padding-top: 4.25rem;
  }
}

.title {
  line-height: 1.2;
}

.field {
  .control {
    @include has-pingcap-input-style;

    .icon {
      color: $B4;
    }
  }
}

@import 'components/navbar';
@import 'components/footer';
