$navbar-height: 4.25rem; // 68px

.PingCAP-Blog {
  .section.section-blog {
    padding-top: 1.5rem;
  }

  .blog-progress {
    position: fixed;
    top: $navbar-height;
    height: 1px;
    background: $C2;
    border-radius: 0;
    z-index: 30; // Same with .navbar.is-fixed-top
  }

  .under-category {
    color: $B3;
  }

  .blog-title {
    margin-top: 2rem;
    color: $B3;
  }

  .blog-subtitle {
    color: $B4;

    span {
      margin: 0 1rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  // Custom markdown body
  .blog-content {
    margin-bottom: 3rem;
    color: $M4;
    line-height: 1.75;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-top: $navbar-height;
      margin-top: -$navbar-height;

      &:first-child {
        margin-top: -$navbar-height !important;
      }
    }

    a.anchor {
      top: $navbar-height;
    }

    ul {
      list-style: inherit;
    }
  }

  .right-column {
    position: relative;
    padding-left: 3rem;
  }

  .toc {
    @include mobile {
      display: none;
    }

    margin-top: 4rem;

    .toc-title {
      color: $B3;
      font-weight: bold;
    }

    .toc-content {
      a {
        color: $B4;
        line-height: 1.75;

        &:hover {
          color: $primary;
        }
      }

      ul {
        li {
          ul {
            padding-left: 1.5rem;
          }
        }
      }
    }
  }
}
