@import '../common';

// Components Styles
@import '../components/blogHeader';
@import '../components/blogTags';

.PingCAP-Blog {
  $section-padding-top: 1.5rem;
  $right-sidebar-margin-top: 4rem;
  .section.section-blog {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .blog-progress {
    @include mobile {
      top: calc(#{$navbar-height-mobile} - 1px);
    }

    position: fixed;
    top: calc(#{$navbar-height} - 1px);
    height: 1px;
    background: transparent;
    border-radius: 0;
    z-index: 30; // Same as .navbar.is-fixed-top

    // pseudo class should use :: , not :
    &::-webkit-progress-bar {
      background: transparent;
    }
  }

  .under-category {
    color: $B3;

    a {
      color: $B3;

      &:hover {
        color: $primary;
      }
    }
  }

  // Custom markdown body
  .blog-content {
    margin-bottom: 3rem;
    color: $M4;
    line-height: 1.75;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-bottom: none;

      &:target:before {
        content: '';
        display: block;
        height: $navbar-height;
        margin-top: -$navbar-height;
      }
    }

    h1 {
      font-size: $size-4;
    }

    h2 {
      font-size: $size-5;
    }

    h3 {
      font-size: $size-6;
    }

    h4 {
      font-size: $size-7;
    }

    a {
      color: $primary;

      &.anchor {
        &.before {
          transform: translateX(-10%);
          @include mobile {
            transform: translateX(0);
          }
        }
      }
    }

    ul {
      list-style: inherit;
    }

    // .trackable-btns {
    //   display: none;
    // }

    .caption-center {
      font-size: 80%;
      color: $M4;
      font-style: italic;
      text-align: center;
    }

    .gatsby-highlight {
      background: #f6f8fa;
    }

    .tabs {
      min-width: 20rem;
      max-width: 100%;
      margin: 2rem auto;
      background: #fff;
      display: unset;
      font-size: inherit;
      align-items: unset;
      justify-content: unset;
      overflow: unset;
      white-space: unset;

      a {
        display: unset;
        align-items: unset;
        justify-content: unset;
        border: unset;
        padding: unset;
        margin: unset;
        vertical-align: unset;
      }

      input {
        display: none;
      }

      label {
        line-height: 1.5;
        font-size: 1rem;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        margin: 0 0 -1px;
        padding: 0.9375rem 1.5625rem;
        font-weight: 600;
        text-align: center;
        color: #bbb;
        border: 1px solid transparent;
      }

      input:checked + label {
        color: #555;
        border: 1px solid #ddd;
        border-top: 2px solid #1e2969;
        border-bottom: 1px solid #fff;
      }

      section {
        display: none;
        padding: 1.25rem 0;
        border-top: 1px solid #ddd;
      }

      input[id='tabMacOS']:checked ~ #macOSContent {
        display: block;
      }

      input[id='tabLinux']:checked ~ #linuxContent {
        display: block;
      }

      h3 {
        margin: 0 0 1.25rem;
      }

      ol,
      ul {
        padding-left: 2em;
        margin: 0.7rem 0;
        line-height: 1.7;
        font-size: $P1;
        font-weight: 400;
        color: #3e3e3e;

        li {
          display: list-item;
        }
      }

      ul {
        list-style-type: circle;
        display: block;
        justify-content: unset;
        align-items: unset;
        flex: unset;
        border: unset;
      }
    }

    p img {
      display: block;
      margin: 0 auto;
    }

    table {
      display: table;
      width: unset;
      margin-left: auto;
      margin-right: auto;
    }

    iframe,
    #youtube-video {
      width: 100%;
      height: 450px;

      @include mobile {
        height: 230px;
      }
    }
  }

  .get-started-with-tidb {
    @include mobile {
      padding: 0;
      padding-top: 3rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      @include mobile {
        font-size: $size-5;
      }

      font-size: $size-4;
    }

    .destinations {
      text-align: center;

      a {
        @include mobile {
          padding: 0 1rem;
          border-radius: 5px;
        }

        padding: 0 2rem;
        margin: 1rem;
        color: $primary;
        font-size: $size-6;
        border-color: $primary;

        &:hover {
          color: #fff;
          background: $primary;
        }
      }
    }
  }

  .columns {
    align-items: flex-start;
  }

  .right-column {
    @include tablet {
      position: sticky;
      height: calc(100vh - #{$navbar-height} - #{$section-padding-top});
      overflow: auto;
      top: $section-padding-top + $right-sidebar-margin-top;
    }
  }

  .toc {
    @include mobile {
      display: none;
    }

    margin-top: $right-sidebar-margin-top;

    .toc-content {
      a {
        color: $B4;
        line-height: 1.75;

        &:hover {
          color: $primary;
        }
      }

      ul {
        li {
          ul {
            padding-left: 1.5rem;
          }
        }
      }
    }
  }

  .related-blog {
    margin-top: 2rem;

    .blogs {
      .blog-link-title {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: $size-7;
      }

      .blog-subtitle {
        padding-bottom: 1rem;
        border-bottom: 1px solid $C2;
      }
    }
  }

  .follow-us {
    @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      padding: 0.25rem 0.75rem;
      background: $B5;
      z-index: 30; // Same as .navbar.is-fixed-top
    }

    margin-top: 2rem;

    .title {
      @include mobile {
        display: none;
      }
    }

    .socials {
      @include mobile {
        justify-content: center;
      }

      display: flex;

      @each $social in $socials {
        .#{$social} {
          margin-right: 1.3rem;
          font-size: 0;
        }
      }

      .yc {
        margin-right: 0;
      }
    }
  }

  .categories-and-tags {
    margin-top: 2rem;

    &.desktop {
      @include mobile {
        display: none;
      }
    }

    &.mobile {
      @include tablet {
        display: none;
      }

      margin-top: 0;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $C2;
    }

    .titles {
      display: flex;
      cursor: pointer;

      .title {
        @include has-item-active;

        color: $B3;
        outline: none;

        &.active {
          color: $primary;
        }
      }

      .categories-title {
        margin-bottom: 0;
        margin-right: 1rem;
      }
    }

    .labels {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;

      > a {
        margin: 1rem 1rem 0 0;
        padding: 0.25rem 0.5rem;
        height: auto;
        color: $B4;
        background: $B5;
        font-size: $size-7;
        border: none;
        border-radius: 3px;

        &.active,
        &:hover {
          color: #fff;
          background: $primary;
        }
      }
    }
  }
}
