@import '../common';

// Components Styles
@import '../components/blogHeader';
@import '../components/blogTags';

$navbar-height: 5.25rem; // 84px
$navbar-height-mobile: 4.25rem; // 68px

.PingCAP-Blog {
  .section.section-blog {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .blog-progress {
    @include mobile {
      top: calc(#{$navbar-height-mobile} - 1px);
    }

    position: fixed;
    top: calc(#{$navbar-height} - 1px);
    height: 1px;
    background: transparent;
    border-radius: 0;
    z-index: 30; // Same as .navbar.is-fixed-top

    &:-webkit-progress-bar {
      background: transparent;
    }
  }

  .under-category {
    color: $B3;

    a {
      color: $B3;

      &:hover {
        color: $primary;
      }
    }
  }

  // Custom markdown body
  .blog-content {
    margin-bottom: 3rem;
    color: $M4;
    line-height: 1.75;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include mobile {
        padding-top: $navbar-height-mobile;
        margin-top: -$navbar-height-mobile;
      }

      padding-top: $navbar-height;
      margin-top: -$navbar-height;

      &:first-child {
        @include mobile {
          margin-top: -$navbar-height-mobile !important;
        }

        margin-top: -$navbar-height !important;
      }
    }

    a {
      color: $primary;

      &.anchor {
        @include mobile {
          top: $navbar-height-mobile;
        }

        top: $navbar-height;
      }
    }

    ul {
      list-style: inherit;
    }
  }

  .get-started-with-tidb {
    @include mobile {
      padding: 0;
      padding-top: 3rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      @include mobile {
        font-size: $size-5;
      }

      color: $B3;
      font-size: $size-4;
      font-weight: bold;
    }

    .destinations {
      a {
        @include mobile {
          padding: 0 1rem;
          border-radius: 5px;
        }

        padding: 0 2rem;
        color: $primary;
        font-size: $size-6;
        border-color: $primary;

        &:hover {
          color: #fff;
          background: $primary;
        }

        &.get-started {
          margin-right: 4rem;
        }
      }
    }
  }

  .right-column {
    position: relative;

    .title {
      color: $B3;
    }
  }

  .toc {
    @include mobile {
      display: none;
    }

    margin-top: 4rem;

    .toc-content {
      a {
        color: $B4;
        line-height: 1.75;

        &:hover {
          color: $primary;
        }
      }

      ul {
        li {
          ul {
            padding-left: 1.5rem;
          }
        }
      }
    }
  }

  .related-blog {
    margin-top: 2rem;

    .blogs {
      .blog-link-title {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: $size-7;
      }

      .blog-subtitle {
        padding-bottom: 1rem;
        border-bottom: 1px solid $C2;
      }
    }
  }

  .follow-us {
    @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      padding: 0.25rem 0.75rem;
      background: $B5;
      z-index: 30; // Same as .navbar.is-fixed-top
    }

    margin-top: 2rem;

    .title {
      @include mobile {
        display: none;
      }
    }

    .socials {
      @include mobile {
        justify-content: center;
      }

      display: flex;

      @each $social in $socials {
        .#{$social} {
          margin-right: 1.3rem;
        }
      }

      .yc {
        margin-right: 0;
      }
    }
  }
}
