@import '../../../common';

.PingCAP-Download-TiDB-Community-ZH,
.PingCAP-Download-TiDB-Enterprise {
  section {
    @include has-light-background;
  }

  .enterprise-wrapper {
    padding: 2rem;
    max-width: 500px;
    margin: 0 auto;
  }

  .tidb-logo {
    text-align: center;
    width: 25%;
    margin: 0 auto 3rem;
  }

  .card {
    padding: 2rem 3rem;
    text-align: center;
    width: 100%;

    @include mobile {
      box-shadow: none;
      border: none;
      background: transparent;
      padding: 2rem 1rem;
    }

    .header {
      text-align: center;
      margin-bottom: 2rem;
      .rocket-icon {
        margin: 0 auto;
        width: 40px;
        height: auto;

        img {
          width: 100%;
          height: 100%;
        }
      }

      h1 {
        font-size: $H1;
        color: $B3;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }
    }

    .title-field {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
      font-size: $P1;
      font-weight: 400;
      color: $M3;

      .linux-icon {
        height: 30px;
        margin-left: 1rem;
      }

      .check-icon {
        width: 20px;
        height: 20px;
        margin-right: 1rem;
      }
    }

    .form-wrapper {
      min-height: 300px;
    }

    .form-control {
      position: relative;
      width: 100%;
      margin-top: 0;
      margin-bottom: 1.5rem;
      text-align: left;

      &:after {
        content: '*';
        position: absolute;
        right: -1rem;
        top: 50%;
        transform: translateY(-50%);
        color: red;
      }
    }

    a {
      color: $B1;
    }

    .pkg-desc {
      margin-bottom: 3rem;
      margin-top: -1rem;
      text-align: left;
      font-size: $size-8;
      color: $B4;
    }

    .agreement {
      width: 100%;
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: -12px;
      margin-top: calc(1.5rem - 12px);
      font-size: $P2;
      font-weight: 400;
      color: $M4;

      .checkbox {
        transform: scale(0.8);
      }
    }

    button {
      margin-top: 2rem;
      width: 6rem;
      font-size: $size-7;

      a {
        color: $M1;
      }
    }

    .err-msg {
      font-size: $size-8;
      color: $T3;
    }
  }
}
