@import '../../common';

.PingCAP-TiDB-Community {
  .section-title {
    @include mobile {
      text-align: center !important;
    }
  }

  .button-white-bg {
    margin: 1rem 1rem 1rem 0;
    padding: 0.5rem 1rem;
    background-color: $M1;
    font-size: $size-7;
    color: $B4;
    border: 1px solid $C2;
    border-radius: 4px;
    cursor: pointer;

    a {
      color: $B4;
    }

    &:hover {
      background-color: $B1;
      color: $M1;

      a {
        color: $M1;
      }
    }
  }

  .side-icon {
    height: 200px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .columns {
    .column:nth-child(2) {
      text-align: left;

      .section-title {
        text-align: left;
      }

      @include mobile {
        text-align: center;
      }
    }
    &.reverse {
      flex-direction: row-reverse;
    }
  }

  .hero {
    img {
      height: 200px;
      margin: 3rem 1rem 6rem;
    }

    .buttons {
      display: flex;
      justify-content: center;
      font-size: $size-7;

      .button {
        margin: 1rem 2rem;

        &.become-a-contributor {
          background-color: transparent;
          color: $B1;
          border: 1px solid $B1;

          &:hover {
            background-color: $B1;
            color: $M1;
          }
        }
      }
    }
  }

  .onboard-section {
    @include has-light-background;

    .buttons {
      display: flex;
      flex-wrap: row wrap;
      font-size: $size-6;
      letter-spacing: 1px;
    }
  }

  .contribution-grow-section {
    padding-bottom: 6rem;
    .container {
      max-width: 800px;

      .collapse-items {
        padding: 3rem;

        @include mobile {
          padding: 3rem 1rem;
        }
      }

      .collapsable {
        position: relative;
        display: flex;
        align-items: center;
        font-size: $size-6;
        color: $B4;
        cursor: pointer;

        img {
          width: 20px;
          margin-right: 1.5rem;
        }

        .header {
          font-weight: bold;
          font-size: $size-6;
        }

        &:before {
          content: '+';
          position: absolute;
          right: 0;
          font-weight: bold;
        }

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          border-bottom: 1px solid $C2;
          bottom: -1rem;
        }
      }

      ul {
        display: none;
        margin-left: 4.5rem;
        margin-top: 2rem;

        a {
          color: $B1;
        }
      }

      .show-content {
        .collapsable::before {
          content: '-';
        }

        ul {
          display: block;
          color: $B4;
        }
      }
    }
  }

  .share-stories-section {
    @include has-light-background;
  }

  .community-activity-section {
    .card {
      height: 100%;

      .card-content {
        .media {
          .name {
            font-size: $size-6;
            font-weight: bold;
            color: $B3;
          }

          .time {
            font-size: $size-8;
            color: $B4;
          }
        }

        .content {
          font-size: $size-7;
          color: $M4;
        }
      }
    }

    .read-more-link {
      text-align: center;
    }
  }

  .code-conduct-section {
    .container {
      @include has-light-background;
      padding: 2rem;
    }

    img {
      height: 180px;
    }

    a {
      color: $B1;
    }
  }
}
