
@import '../../common';

.PingCAP-Share-Story {
    .hero {
        img {
            height: 200px;
            margin-top: 2rem;
        }
    }

    .form-section {
        max-width: 800px;
        text-align: center;
        margin: 2rem auto;
      }
}
