@import '../../common';

@mixin has-pingcap-style-border {
  border-color: $C2;
  border-radius: 0;
  box-shadow: none;

  &:hover {
    border-color: $primary;
  }
}

.PingCAP-TiDBCloud-Pricing {
  .section-pricing {
    .field {
      margin-top: 3rem;
      text-align: center;
    }

    .tidb-cloud-hourly-usage {
      margin: 4rem 0 6rem;
      color: $B4;

      .cloud-providers {
        display: flex;
        padding-left: 3rem;
        flex-flow: row wrap;

        .cloud-provider-button {
          @include has-pingcap-style-border;
          width: 35%;
          padding: 1.5rem 1rem;

          &:first-child {
            @include mobile {
              margin-right: 3rem;
            }
            margin-right: 4rem;
          }

          img {
            width: 4rem;
            height: auto;
          }
        }
      }

      .card {
        width: 100%;
        height: 150px;
        border-radius: 0;

        p {
          font-size: $H2;
          font-weight: $W3-EN;
          text-align: left;
          padding: 1.5rem 2rem;
        }
      }

      .regions {
        display: flex;
        align-items: center;

        .label {
          display: inline-block;
          width: 9rem;
          margin: 0;
          padding-bottom: 0;
          font-size: $size-7;
          font-weight: 400;
        }

        .select {
          display: flex;
          padding-left: 3rem;
          width: 300px;

          select {
            @include has-pingcap-style-border;
            width: 100%;
            max-width: 100%;
            color: $B4;
          }
        }
      }

      .table-container {
        margin-top: 1.75rem;

        .table {
          font-size: $size-7;
          color: $B4;

          td,
          th {
            border-color: $T2;
            vertical-align: middle;
            border-collapse: collapse;
          }

          thead {
            th {
              text-align: center;
              background-color: $B4;
              color: $M1;
            }
          }

          tbody {
            text-align: center;

            .tier-td {
              font-weight: 600;
              text-transform: capitalize;
            }
          }
        }
      }
    }

    .has-light-background {
      background: rgba(247, 248, 249, 0.5)
    }
  }
}
