@import '../../common';

@mixin fadeIn {
  animation: show 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@mixin has-pingcap-style-border {
  border-color: $C2;
  box-shadow: none;

  &:hover {
    border-color: $primary;
  }
}

@mixin has-intro-and-placeholder {
  @include mobile {
    flex-direction: column;
    text-align: center;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    flex: 1;
  }

  $img-width: 74%;

  .placeholder-wrapper {
    @include VHCenter;

    height: 100%;

    .placeholder {
      margin-bottom: 2rem;

      @include tablet {
        margin: 2.5rem 0;
      }
    }
  }

  .divider {
    flex: none;
    width: 20%;
  }

  .intro {
    @include mobile {
      padding: 0;
    }

    .title.is-5 {
      margin-bottom: 2.5rem;
    }
  }
}

@mixin tidb-cloud-logo {
  @include fadeIn;

  @include mobile {
    width: 12rem;
    margin-bottom: 1.5rem;
  }

  width: 18rem;
  margin-bottom: 3rem;
}

.section-title {
  @include section-title;
}

.section-subtitle {
  font-weight: bold;
  font-size: $size-5;
}

.desc {
  margin-top: 0.5rem;
  line-height: $LH4;
  color: $F1;
}

.PingCAP-TiDBCloud {
  .title {
    margin-bottom: 1rem;
  }

  .link-with-underline {
    text-decoration: underline;
    color: $primary;
  }

  .hero {
    .hero-body {
      padding: 8rem 1.5rem;

      @include mobile {
        padding: 0 1rem 3rem;
      }

      .container {
        @include mobile {
          flex-direction: column-reverse;
          justify-content: center;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .titles-and-entry {
        @include mobile {
          width: 100%;
          text-align: center;
        }

        width: 42%;

        .logo {
          @include tidb-cloud-logo;
          width: 40%;
        }

        .title {
          font-size: $H1;
          font-weight: 700;
          color: $F1;
        }

        .paragraph {
          font-size: $H3;
          padding: 0;

          &.sign-in {
            font-size: $P1;
          }
        }

        .start-trial-button {
          margin: {
            top: 2.5rem;
            bottom: 1rem;
          }
        }
      }

      .image-wrapper {
        @include fadeIn;

        @include mobile {
          width: 84%;
          margin-bottom: 3rem;
        }

        width: 48%;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
        border-radius: 6px;

        iframe {
          width: 100%;
          height: 400px;

          @include mobile {
            height: 200px;
          }
        }
      }
    }
  }

  .section {
    .title.is-4 {
      text-align: center;
    }
  }

  .section-why-tidb-cloud {
    @include tablet {
      padding: 6rem 1.5rem 4rem;
    }

    .reasons {
      @include mobile {
        flex-direction: column;
      }

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: baseline;

      .reason {
        @include mobile {
          width: 100%;
        }

        width: 25%;
        padding: 0 1rem;
        text-align: center;

        .placeholder-wrapper {
          width: 6rem;
          margin: 2.25rem auto 1rem;

          @include mobile {
            margin: 0.25rem auto 2rem;
          }
        }

        .intro {
          @include mobile {
            padding: 0;
          }

          .title {
            font-size: $H3;
            font-weight: 700;
            color: $F1;

            @include mobile {
              margin-bottom: 1.5rem;
            }
          }

          .paragraph {
            font-size: $P1;
            color: $F2;
            padding-top: 0;
            padding-bottom: 0.75rem;
          }
        }
      }
    }
  }

  .section-features {
    @include tablet {
      padding-top: 6rem;
    }

    .section-title {
      margin-bottom: 4rem !important;

      @include mobile {
        margin-bottom: 3rem !important;
      }
    }

    .section-subtitle {
      text-align: left;
    }
    .features {
      width: 83.3%;
      margin: 0 auto;

      .feature {
        @include has-intro-and-placeholder;

        @include mobile {
          margin-top: 0.5rem;

          &:first-child {
            margin-top: 0;
          }
        }

        > * {
          // https://easings.net/#easeOutQuad
          transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        &.reverse {
          @include tablet {
            flex-direction: row-reverse;
          }
        }

        .title {
          font-size: $H2;
        }

        .has-text-left {
          @include mobile {
            text-align: center !important;
          }
        }

        .paragraph {
          font-size: $H3;
        }
      }
    }
  }

  .section-pricing {
    padding: 3rem 1.5rem 6rem;

    .field {
      text-align: center;

      p {
        padding-bottom: 3rem;
        font-size: $H3;
      }
    }
  }

  .section-get-started {
    text-align: center;
  }

  .section-faq-temp {
    .title {
      letter-spacing: 5px;
    }
    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    .faqs {
      flex-flow: row wrap;
      margin: 4rem auto;
      overflow: hidden;
      width: 80%;
    }
    .tab {
      overflow: hidden;
      width: 100%;
      color: $F2;
      white-space: normal;

      &-label {
        position: relative;
        justify-content: space-between;
        display: flex;
        font-size: $P1;
        padding: 1em;
        cursor: pointer;

        span {
          position: absolute;
          right: 0;
          height: 20px;
          width: 20px;
          bottom: 20px;
          border: 1px solid $F2;
          border-radius: 50%;

          &::after {
            content: '+';
            display: block;
            position: absolute;
            left: 50%;
            bottom: 50%;
            transform: translate(-45%, 45%);
          }
        }

        &:hover {
          color: $B1;

          span {
            border: 1px solid $B1;
          }

          &::before {
            border-bottom: 1px dashed $B1;
          }
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: 0.5rem;
          left: 0;
          width: 100%;
          border-bottom: 1px dashed $F2;
        }
      }
      &-content {
        max-height: 0;
        font-size: $P1;
        padding: 0 1em;
        transition: all 0.3s ease-in-out;
      }
      &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        cursor: pointer;
      }
    }

    // :checked
    input:checked {
      + .tab-label {
        color: $B1;

        span {
          border: 1px solid $B1;

          &::after {
            content: '-';
          }
        }

        &::before {
          border-bottom: 1px dashed $B1;
        }
      }
      ~ .tab-content {
        max-height: 200vh;
        padding: 1em;
      }
    }
  }

  .section-faq {
    .faq-list {
      width: 80%;
      margin: 4rem auto;

      .question {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        color: $F2;
        font-size: $P1;
        cursor: pointer;

        span {
          position: absolute;
          right: 0;
          height: 20px;
          width: 20px;
          border: 1px solid $F2;
          border-radius: 50%;

          &::after {
            content: '+';
            display: block;
            position: absolute;
            left: 50%;
            bottom: 50%;
            transform: translate(-45%, 45%);
          }
        }

        &:hover {
          color: $B1;

          span {
            border: 1px solid $B1;
          }

          &::before {
            border-bottom: 1px dashed $B1;
          }
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: 1px dashed $F2;
        }

        &.checked {
          color: $B1;

          span {
            border: 1px solid $B1;

            &::after {
              content: '-';
            }
          }

          &::before {
            border-bottom: 1px dashed $B1;
          }
        }
      }

      .answer {
        padding: 0.5rem 1rem 0 1rem;
        height: 0;
        overflow: hidden;
        transition-timing-function: ease-out;
        transition: all 1s;

        &.show-answer {
          padding: 1rem;
          height: auto;
          transition-timing-function: ease-in;
          transition: all 1s;
        }
      }
    }
  }
}

.PingCAP-TiDBCloudTrial {
  .logo {
    @include tidb-cloud-logo;
  }

  .column {
    .box {
      @include mobile {
        padding: 1.5rem;
      }

      height: 100%;
      padding: 2.5rem;

      .title.is-4,
      .title.is-5 {
        margin-bottom: 0.5rem;
      }

      .hint {
        color: #3b9854;
      }

      .header {
        margin-bottom: 2rem;
        text-align: center;

        .image-wrapper {
          width: 3rem;
          margin: auto;
          margin-bottom: 1rem;
        }
      }
    }

    .services {
      .intro {
        margin-bottom: 2rem;
      }
    }
  }
}
