@import '../../common';

@mixin fadeIn {
  animation: show 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@mixin has-pingcap-style-border {
  border-color: $C2;
  box-shadow: none;

  &:hover {
    border-color: $primary;
  }
}

@mixin has-intro-and-placeholder {
  @include mobile {
    flex-direction: column;
    text-align: center;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    flex: 1;
  }

  $img-width: 74%;

  .placeholder-wrapper {
    @include VHCenter;

    height: 100%;

    .placeholder {
      margin-bottom: 2rem;

      @include tablet {
        margin: 2.5rem 0;
      }
    }
  }

  .divider {
    flex: none;
    width: 20%;
  }

  .intro {
    @include mobile {
      padding: 0;
    }

    .title.is-5 {
      margin-bottom: 2.5rem;
    }
  }
}

@mixin tidb-cloud-logo {
  @include fadeIn;

  @include mobile {
    width: 12rem;
    margin-bottom: 1.5rem;
  }

  width: 18rem;
  margin-bottom: 3rem;
}

.section-title {
  @include section-title;
}

.section-subtitle {
  font-weight: bold;
  font-size: $size-5;
}

.desc {
  margin-top: 0.5rem;
  line-height: $LH4;
  color: $M4;
}

.PingCAP-TiDBCloud {
  .title {
    margin-bottom: 1rem;
  }

  .link-with-underline {
    text-decoration: underline;
    color: $primary;
  }

  .hero {
    .hero-body {
      padding: 8rem 1.5rem;

      @include mobile {
        padding: 0 1rem 3rem;
      }

      .container {
        @include mobile {
          flex-direction: column-reverse;
          justify-content: center;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .titles-and-entry {
        @include mobile {
          width: 100%;
          text-align: center;
        }

        width: 42%;

        .logo {
          @include tidb-cloud-logo;
          width: 40%;
        }

        .title {
          font-size: $H1;
          font-weight: 700;
          color: $M3;
        }

        .paragraph {
          padding: 0;
        }

        .button {
          margin-bottom: 1rem;
        }
      }

      .image-wrapper {
        @include fadeIn;

        @include mobile {
          width: 84%;
          margin-bottom: 3rem;
        }

        width: 48%;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        
        iframe {
          width: 100%;
          height: 400px;

          @include mobile {
            height: 200px;
          }
        }
      }
    }
  }

  .section {
    .title.is-4 {
      text-align: center;
    }
  }

  .section-why-tidb-cloud {
    @include tablet {
      padding: 6rem 1.5rem 4rem;
    }

    .reasons {
      @include mobile {
        flex-direction: column;
      }

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: baseline;

      .reason {
        @include mobile {
          width: 100%;
        }

        width: 32%;
        padding: 0 1rem;
        text-align: center;

        .placeholder-wrapper {
          width: 6rem;
          margin: 2.25rem auto 1rem;

          @include mobile {
            margin: 0.25rem auto 2rem;
          }
        }

        .intro {
          @include mobile {
            padding: 0;
          }

          .title {
            font-size: $P1;
            font-weight: 700;
            color: $M3;

            @include mobile {
              margin-bottom: 1.5rem;
            }
          }

          .paragraph {
            padding-top: 0;
            padding-bottom: 0.75rem;
          }
        }
      }
    }
  }

  .section-features {
    @include tablet {
      padding-top: 6rem;
    }

    .section-title {
      margin-bottom: 4rem !important;

      @include mobile {
        margin-bottom: 3rem !important;
      }
    }

    .section-subtitle {
      text-align: left;
    }
    .features {
      width: 83.3%;
      margin: 0 auto;

      .feature {
        @include has-intro-and-placeholder;

        @include mobile {
          margin-top: 0.5rem;

          &:first-child {
            margin-top: 0;
          }
        }

        > * {
          // https://easings.net/#easeOutQuad
          transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        &.reverse {
          @include tablet {
            flex-direction: row-reverse;
          }
        }

        .has-text-left {
          @include mobile {
            text-align: center !important;
          }
        }
      }
    }
  }

  .section-pricing {
    .field {
      margin-top: 3rem;
    }

    .tidb-cloud-hourly-usage {
      margin: 2rem 0;
      color: $B4;

      & > div {
        margin-bottom: 2rem;
      }

      .cloud-providers {
        display: flex;

        .cloud-provider-button {
          @include has-pingcap-style-border;
          width: 9rem;
          height: 5rem;

          &:first-child {
            @include mobile {
              margin-right: 3rem;
            }
            margin-right: 6rem;
          }

          &.button:active,
          &.button.is-active {
            border-color: $primary;
          }

          .logo {
            display: block;
            width: auto;
            height: 4rem;
            margin: auto;
          }
        }
      }

      .regions {
        display: flex;
        align-items: center;

        .label {
          display: inline-block;
          width: 9rem;
          margin: 0;
          padding-bottom: 0;
          font-size: $size-7;
          font-weight: 400;
        }

        .select {
          select {
            @include has-pingcap-style-border;
            width: 100%;
            color: $B4;
          }
        }
      }

      .table-container {
        .table {
          font-size: $size-7;
          color: $B4;

          td,
          th {
            border-color: $C2;
            vertical-align: middle;
          }

          thead {
            th {
              background-color: $C4;
              color: $M1;
            }
          }

          .tier-td {
            font-weight: 600;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .section-get-started {
    text-align: center;
  }
}

.PingCAP-TiDBCloudTrial {
  .logo {
    @include tidb-cloud-logo;
  }

  .column {
    .box {
      @include mobile {
        padding: 1.5rem;
      }

      height: 100%;
      padding: 2.5rem;

      .title.is-4,
      .title.is-5 {
        margin-bottom: 0.5rem;
      }

      .hint {
        color: #3b9854;
      }

      .header {
        margin-bottom: 2rem;
        text-align: center;

        .image-wrapper {
          width: 3rem;
          margin: auto;
          margin-bottom: 1rem;
        }
      }
    }

    .services {
      .intro {
        margin-bottom: 2rem;
      }
    }
  }
}
