@import '../../common';

.PingCAP-Product-TiDB {

  .hero {
    img {
      margin: 3rem auto;
      width: 25%;
    }

    .section-title {
      margin-bottom: 1.5rem !important;
    }

    .paragraph {
      width: 70%;
      margin: 0 auto;
    }

    .hero-body {
      padding-bottom: 3rem;
    }
  }

  .HTAP-section {
    padding-bottom: 6rem;

    .section-title {
      margin-bottom: 4rem !important;
    }

    .container img {
      border: 1px dashed $F1;
      width: 66.6%;
      display: block;
      margin: 0 auto;
    }
  }

  .section-use-cases {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .section-title {
      margin-bottom: 4rem !important;
    }
  }

  .industry-section {
    margin-top: 3rem;
    padding-bottom: 5rem;

    .industry-title {
      font-size: $H1;
      color: $F1;
      font-weight: 700;
    }

    .columns {
      margin: 2.5rem auto;

      .column {
        text-align: center;

        img {
          height: 70px;
        }

        p {
          font-size: $size-7;
          color: $B4;
          padding-top: 2rem;
        }
      }
    }
  }

  .comparison-table-section {

    .section-title {
      margin-bottom: 1.5rem !important;
    }

    .subtitle-under-main-title {
      padding-bottom: 2.5rem;
    }
  }

  .benefit-table-section {

    .section-title {
      margin-bottom: 2.5rem !important;
    }
  }

  .table-container {
    .table {
      margin: 0 auto;
      width: 100%;
      font-size: $size-7;

      thead > tr > th {
        color: $B3;
      }

      tbody {
        color: $F1;

        ul {
          list-style: disc;
          margin-left: 2rem;
        }
      }

      th {
        text-align: center;
        border-color: $C2;
      }

      td {
        padding: 1rem;

        .close-icon {
          color: $T3;
        }
        
        .check-icon {
          color: $T1;
        }
      }
    }

    .comparison-table {
      thead {
        background-color: $M2;
      }

      thead > tr > th:first-child,
      tr > td:first-child {
        font-weight: 600;
      }

      thead > tr > th:last-child {
        background-color: rgba(255, 79, 94, 0.35);
      }

      td {
        text-align: center;
        border-color: $C2;
      }
    }

    .benefit-table {
      margin-bottom: 3rem;

      thead {
        background-color: rgba(110, 119, 163, 0.1);
      }
    }
  }
}
